<!DOCTYPE html>
<html lang="ru" translate="no" class="notranslate"><head>
<title>Компьютерное тестирование</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="10_1_files/main7.css" type="text/css" rel="stylesheet">
<link href="10_1_files/virt_kb.css" type="text/css" rel="stylesheet">
<link href="10_1_files/mpu.css" type="text/css" rel="stylesheet">


<link href="10_1_files/kim.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="js/jQuery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!-- JQuery -->
<script type="text/javascript" src="10_1_files/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="10_1_files/jquery-ui.min.js"></script>
<script type="text/javascript" src="10_1_files/jquery.ui.touch-punch.min.js"></script>
<link href="10_1_files/jquery-ui.css" type="text/css" rel="stylesheet">

<!-- Virtual keyboard plugin -->
<script type="text/javascript" src="10_1_files/virt_kb.js"></script>

</head>

<body>
<div style="clear:both"></div>
<div id="header">
	<div class="subheader2x">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td>
				<span id="ping" style="position: absolute; opacity: 0.2; display: none;">*</span>
				<p style="margin-left:15px;color:#000000;font-size:12pt;text-indent:0"> Задания: </p>
			</td><td><p id="topline"><font>Оставшееся время - 44:16</font></p>
		</td></tr></tbody></table>
<form method="post" action="" onsubmit="$(window).off('beforeunload');">
<button class="qnum" type="submit" name="n" value="">Описание</button>
<button class="qnum yellow" type="submit" name="n" value="1">1</button>
<button class="qnum" type="submit" name="n" value="2">2</button>
<button class="qnum" type="submit" name="n" value="3">3</button>
<button class="qnum" type="submit" name="n" value="4">4</button>
<button class="qnum" type="submit" name="n" value="5">5</button>
<button class="qnum" type="submit" name="n" value="6">6</button>
<button class="qnum" type="submit" name="n" value="7">7</button>
<button class="qnum" type="submit" name="n" value="8">8</button>
<button class="qnum" type="submit" name="n" value="9">9</button>
<button class="qnum qramka" type="submit" name="n" value="10">10.1</button>
<button class="qnum" type="submit" name="n" value="11">10.2</button>
<button class="qnum" type="submit" name="n" value="12">10.3</button>
<button class="qnum" type="submit" name="n" value="999">закончить</button>
</form>
	</div>
</div>

<div id="reserved"></div>



<script>MyLogin = 'test_28123';</script>

<div id="content">

<div id="QuestionTest">

 <!-- answer -->

<p class="MsoNormal" style="border:1px solid black; text-align:center; margin:0px; padding:0px 3px; line-height:1.5"><b><i>Прочитайте текст 2 и&nbsp;выполните задания 8–10.</i></b></p>
<p class="MsoNormal">&nbsp;</p>
<a target="_blank" href="http://demo.mcko.ru/test/questions/9196087/#" onclick="$('.layer').css('height','auto');return false;" style="float:right;margin:5px;font-size:12pt;border-bottom:1px dotted blue">развернуть</a>

<center>Текст 2</center>

<div class="layer" style="border: 2px solid rgb(153, 102, 51); background: rgb(255, 249, 237); padding: 10px; margin: 10px 0px; height: 461px;">
    

<p>(1)Для нас Василий Дмитриевич Поленов прежде всего автор «Московского
 дворика», «Бабушкиного сада», «У&nbsp;ворот усадьбы», где чувствуются 
мягкие элегические ноты() где есть ощущение уходящ..й в&nbsp;прошлое 
ст..рины. </p>
<p>(2)Именно «Московским двориком» В.&nbsp;Поленов дебютировал на выставке передвижников. </p>
<p>(3)Предполагают, что однажды, поселившись в&nbsp;Трубниковском 
переулке, Василий Дмитриевич из окна увидел свой «Московский дворик». 
(4)И&nbsp;глазам, сердцу, уму дворик явился миром, в&nbsp;котором очень 
хочется жить. (5)Казалось бы, что в&nbsp;нём особенного? (6)Куры 
копаются в&nbsp;земле. (7)Лошадь приуныла возле своей телеги. 
(8)Ребятишки играют на обычнейшей лужайке с&nbsp;обычнейшими ромашками. 
(9)Женщина несёт воду в&nbsp;ведре. (10)Полощется в&nbsp;воздухе мокрое 
бельё; деревья, змейка тропки, сараюшки… (11)Всё обыкновенно. (12)Но эту
 обычную картину увидели глаза художника, насмотревшиеся на кровь 
и&nbsp;ужасы войны, вдоволь налюбовавшиеся египетскими пирамидами 
и&nbsp;дворцами с&nbsp;гондолами в&nbsp;Венеции. (13)Сердце его увидело 
и&nbsp;дрогнуло. (14)И&nbsp;дворик озарился вдруг таким светом радости, 
таким чувством любви и&nbsp;блаженства, что маленький кусочек московской
 земли сделался бесконечной поэмой. (15)Смотришь, «выходишь», минуя 
раму, в&nbsp;дворик, шагаешь тропкой и&nbsp;понимаешь: вот она, жизнь… </p>
<p>(16)Всё в&nbsp;«Московском дворике» гармонично и&nbsp;мягко. 
(17)Ничто резким контрастом не разрушает цветового единства. 
(18)Органично соединяются жилище человека и&nbsp;природа. (19)Всё 
пронизано небесной голубизной и&nbsp;светом. (20)Дворик исполнен 
необыкновенной поэзии. (21)Сколько прелести в&nbsp;белой, выгоревшей на 
солнце детской головке! (22)И&nbsp;в&nbsp;задумчивой фигурке, бредущей 
к&nbsp;цветку… (23)Картина без недомолвок. (24)Всё рассказано. (25)Так 
почему же в&nbsp;ней находили неисчерпаемую тайну знакомых мест? 
(26)А&nbsp;всё на самом деле элементарно просто. (27)В&nbsp;обыкновенном
 узнано необыкновенное, в&nbsp;обычном&nbsp;– очарование родного края. 
(28)Дворик стал признанием в&nbsp;любви. (29)Любви к&nbsp;Родине. </p>
<p>(30)Сам В.Д.&nbsp;Поленов называл себя представителем 
пейзажно-бытового жанра. (31)Согласиться с&nbsp;этим трудно. (32)Он 
объясняется в&nbsp;любви своей земле, своему краю неспокойно, пылко, 
обжигающе. (33)Разве не романтична «Осень в&nbsp;Абрамцеве»&nbsp;– 
«Федюшкино воспоминание», картина-память о&nbsp;сыне? (34)Она вобрала 
в&nbsp;себя зовущую темень, яркую алость и&nbsp;успокаивающую желтизну. 
(35)Отсветы этой буйной палитры ткут в&nbsp;воде богатый ковёр… (36)Из 
царства человека В.&nbsp;Поленов уходит в&nbsp;мягкий() пр..красный, 
во..вышающий мир природы. (37)Рыжевато-дымчатые кустики в&nbsp;картине 
«Ранний снег» уселись на снегу, словно зайцы, полоса угасающего осеннего
 пламени отделяет белую пелену от реки.(38)А&nbsp;над всем этим&nbsp;– 
яркое небо() уже подёрнувшееся туманом,&nbsp;– нежная п..реходная п..ра.
 </p>
<p>(39)На тёмной глад.. «Заросшего пруда» буровато-красные 
и&nbsp;з..лёные листья кувшинок() пятнышки лилий. (40)Време..ый тупик() 
застой и&nbsp;ожидание близящ..йся грозы: что-то произойдёт, случится… 
(41)А&nbsp;когда обжигаешься червонным золотом и&nbsp;прорывающимся 
з..лёным буйством «Золотой осени», невольно думаешь: человеку, столь 
пронзительно ощущавшему природу, трудно было жить, не захлёбываясь той 
большой радостью, которую она ему дарила. </p>
<p>(42)Однажды, вернувшись в&nbsp;очередной раз из заграничной поездки, 
В.Д.&nbsp;Поленов поссорился с&nbsp;художественным критиком 
В.В.&nbsp;Стасовым: тому вдруг показалось, что живопись у&nbsp;Поленова 
какая-то нерусская. (43)И&nbsp;вообще, жить бы ему за границей. 
(44)А&nbsp;он всей душой тянулся к&nbsp;России: «…подло жить 
в&nbsp;Европе, когда в&nbsp;России надо работать… Чувствую себя… без 
почвы, без смысла…» 
</p>

<p class="MsoNormal" align="right" style="text-align:right; line-height:1.5"><i>(По В.&nbsp;Липатову)</i></p>
</div>
<script>
// После загрузки страницы установить высоту блока в 50% от полезной высоты экрана,
// чтобы отображение не зависело от размера расширения экрана (размера монитора)
$(document).ready(function(){
  $('.layer').height( 0.5 * $(window).height() );
});
</script><!--<style>
//*input[type="radio"] {
  display: none;
}*//
input:checked + label {
	background: #ff8;font-weight:bold;
}
span.ans2 { cursor:pointer;font-size: 20px;}
span.ans { border:1px solid #d3d3d3; color:#eeeeee; cursor:pointer; font-weight:bold; background: #eee; }
span.ans.marked { border:1px solid #e3e3e3; color:#000000; font-weight:bold; background-color:#eee; }
input {font-size:15pt;font-weight:bold;text-align:center;height:13px;border:1px solid #996633;background-color:#fff9ed;width:13px;border-radius: 4px;padding-bottom:5px;width:24px; }
input.zpt {font-size:15pt; height:13px;border:1px solid #4c4c4c;background-color:#eee;width:13px;border-radius: 4px;}
</style>-->
<p class="qq"><!--<b>10.1.</b>--> Сформулируйте <b>позицию автора</b> по указанной проблеме: <i>«Как повлияло очарование родной земли на творчество В.Д. Поленова?»</i> <br>Выберите вариант ответа, в котором верно сформулирована позиция автора.</p>
<!--<table>
	<tr><td><label for="1r1"><div class="answer"><input type="radio" class="ans" name="a17" id="1r1" value="1">&nbsp;Красота родной природы сформировала личность художника как представителя пейзажно-бытового жанра.</div></label></td></tr>
	<tr><td><label for="1r2"><div class="answer"><input type="radio" class="ans" name="a17" id="1r2" value="2">&nbsp;Восприятие природы родного края изменило направление творчества В.Д. Поленова.</div></label></td></tr>
	<tr><td><label for="1r3"><div class="answer"><input type="radio" class="ans" name="a17" id="1r3" value="3">&nbsp;Отношение к родному краю обострило чувство любви художника к своему делу.</div></label></td></tr>
	<tr><td><label for="1r4"><div class="answer"><input type="radio" class="ans" name="a17" id="1r4" value="4">&nbsp;Очарование родной земли оказало большое влияние на творчество Василия Дмитриевича Поленова.</div></label></td></tr>
</table><br>
<p class=qq><b>10.2.</b> Выберите <b>два примера</b>, важных для понимания <b>проблемы</b> исходного текста. Вставьте в&nbsp;выбранных примерах пропущенные буквы и&nbsp;знаки препинания.</p>
<table class=tbl>
<tr>


<td><label for="r1" onclick="fp(1)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r1" value="1"></div></label></td>
<td><div id="b1">«…чувствуются <nobr>мя..кие</nobr> элегические <nobr>ноты()</nobr> …&nbsp;есть ощущение <nobr>уходящ..й</nobr> в&nbsp;прошлое старины <nobr>(предложение 1).</nobr></div>
<div id="c1" hidden>«…чувствуются <nobr>мя<input type="text" id="a1" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">кие</nobr> элегические <nobr>ноты<input type="text" id="a3" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> …&nbsp;есть ощущение <nobr>уходящ<input type="text" id="a2" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">й</nobr> в&nbsp;прошлое старины <nobr>(предложение 1).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r2" onclick="fp(2)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r2" value="2"></div></label></td>
<td><div id="b2">«…над всем этим – яркое <nobr>небо()</nobr> уже подёрнувшееся туманом, – нежная <nobr>п..реходная</nobr> <nobr>п..ра</nobr> <nobr>(предложение 38).</nobr></div>
<div id="c2" hidden>«…над всем этим – яркое <nobr>небо<input type="text" id="a6" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> уже подёрнувшееся туманом, – нежная <nobr>п<input type="text" id="a4" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">реходная</nobr> <nobr>п<input type="text" id="a5" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">ра</nobr> <nobr>(предложение 38).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r3" onclick="fp(3)"><div width="100%" height="100%" style="padding:15px 7px;"><input type="checkbox" class="ans" name="m0" id="r3" value="3"></div></label></td>
<td><div id="b3">«На тёмной <nobr>глад..</nobr> «Заросшего пруда» буровато-красные и зелёные <nobr>лист..я</nobr> <nobr>кувшинок()</nobr> пятнышки лилий» <nobr>(предложение 39).</nobr></div>
<div id="c3" hidden>«На тёмной <nobr>глад<input type="text" id="a7" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off"></nobr> «Заросшего пруда» буровато-красные и зелёные <nobr>лист<input type="text" id="a8" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">я</nobr> <nobr>кувшинок<input type="text" id="a9" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> пятнышки лилий» <nobr>(предложение 39).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r4" onclick="fp(4)"><div width="100%" height="100%" style="padding:30px 7px;"><input type="checkbox" class="ans" name="m0" id="r4" value="4"></div></label></td>
<td><div id="b4">«В. Поленов <nobr>уход..т</nobr> <nobr>в мягкий()</nobr> <nobr>пр..красный,</nobr> возвышающий мир природы» <nobr>(предложение 36).</nobr></div>
<div id="c4" hidden>«В. Поленов <nobr>уход<input type="text" id="a10" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">т</nobr> <nobr>в мягкий<input type="text" id="a12" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> <nobr>пр<input type="text" id="a11" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">красный,</nobr> возвышающий мир природы» <nobr>(предложение 36).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r5" onclick="fp(5)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r5" value="5"></div></label></td>
<td><div id="b5"><nobr>«Време..ый</nobr> <nobr>тупик()</nobr> застой и&nbsp;ожидание <nobr>близящ..йся</nobr> грозы: что-то произойдёт, случится… <nobr>(предложение 40).</nobr></div>
<div id="c5" hidden><nobr>«Време<input type="text" id="a13" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">ый</nobr> <nobr>тупик<input type="text" id="a15" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> застой и&nbsp;ожидание <nobr>близящ<input type="text" id="a14" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">йся</nobr> грозы: что-то произойдёт, случится… <nobr>(предложение 40).</nobr></div>
</td>

</tr>
</table>
<p class=qq><b>10.3.</b> Укажите, в каком варианте(-ах) верно указано средство связи предложений.</p>
<table>
	<tr><td><label for="2r1"><div class="answer"><input type="checkbox" class="ans" name="m18" id="2r1" value="1">&nbsp;Средством связи предложений 1–2 является форма слова.</div></label></td></tr>
	<tr><td><label for="2r2"><div class="answer"><input type="checkbox" class="ans" name="m18" id="2r2" value="2">&nbsp;Средством связи предложений 33–34 является личное местоимение.</div></label></td></tr>
	
</table><br>


<br>
<b>ИЛИ</b><br>
<p class="qq">Сформулируйте <b>позицию автора</b> по указанной проблеме: <i>«Как повлияло очарование родной земли на творчество В.Д.&nbsp;Поленова?»</i> Приведите <b>два</b> примера из текста, важные для понимания позиции автора.</p>
<p class=MsoNormal>Запишите ответ в&nbsp;поле для ответа.</p>
<div class="answer">
<table>
<tr><td valign=top>Ответ: </td>
<td><textarea id="a19" style="width:900px;height:300px;" autocomplete="off" spellcheck="false"></textarea></td>
</tr>

</table>
</div>

<script>
/*
function DelDot(element) {
  element.value = element.value.replace(/[.]+/g, '');element.select();
	}
	
function DopDot(element) {
if (element.value == ""){element.value = element.value + "..";}
	}
*/
function CheckInt(element) {
  // Удаление всех символов, не являющихся числами
  element.value = element.value.replace(/[^-–,.?!:;]+/g, '');
	
	 element.value = element.value.replace(/-/g, '–');
}
	
//var answer1=["","","","",""];
function fp(num) {
  if ($('#bvalue0').val().includes(num)){
		document.getElementById('b'+num).hidden=true;
		document.getElementById('c'+num).hidden=false;
//		document.getElementById('a'+((num-1)*5+1)).value = document.getElementById('a'+((num-1)*5+1)).value + "..";
		if (document.getElementById('a'+((num-1)*3+1)).value == "±"){document.getElementById('a'+((num-1)*3+1)).value = "";}
		if (document.getElementById('a'+((num-1)*3+2)).value == "±"){document.getElementById('a'+((num-1)*3+2)).value = "";}
		if (document.getElementById('a'+((num-1)*3+3)).value == "±"){document.getElementById('a'+((num-1)*3+3)).value = "";}
		
		$('#bvalue'+((num-1)*3+1)).val($('#a'+((num-1)*3+1)).val());
		$('#bvalue'+((num-1)*3+2)).val($('#a'+((num-1)*3+2)).val());
		$('#bvalue'+((num-1)*3+3)).val($('#a'+((num-1)*3+3)).val());
		
	}
	//document.getElementById('a'+num).hidden=false;
	
	//$('#bvalue'+num).val(answer1[num-1]);$('#bvalue'+(num+4)).val(answer1[num+3]);$('#a'+num).val(answer1[num-1]);
	
	else {
		document.getElementById('b'+num).hidden=false;
		document.getElementById('c'+num).hidden=true;
		$('#bvalue'+((num-1)*3+1)).val('±');
		$('#bvalue'+((num-1)*3+2)).val('±');
		$('#bvalue'+((num-1)*3+3)).val('±');
		
	}
	//document.getElementById('a'+num).hidden=true;
	
	//answer1[num-1]=$('#bvalue'+num).val();$('#bvalue'+num).val("-");answer1[num+3]=$('#bvalue'+(num+4)).val();$('#bvalue'+(num+4)).val("-");
$('#bvalue16').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val());
}
//if ($('#bvalue0').val()==''){$('#bvalue1').val("-");$('#bvalue2').val("-");$('#bvalue3').val("-");$('#bvalue4').val("-");}
//if ($('#bvalue0').val()=='-'){$('#bvalue1').val("-");$('#bvalue2').val("-");$('#bvalue3').val("-");$('#bvalue4').val("-");$('#bvalue0').val("");}
if (($('#bvalue0').val()!='')&&($('#bvalue0').val()!='-')){
for (let i = 1; i < 6; i++){
  if ($('#bvalue0').val().includes(i)){
	//document.getElementById('a'+i).hidden=false;
	document.getElementById('b'+i).hidden=true;document.getElementById('c'+i).hidden=false;}
	}
} else{
for (let i = 1; i < 16; i++){
  $('#bvalue'+i).val('±');
	}
$('#bvalue16').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val());
}
/*$('#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20,#a21,#a22,#a23,#a24,#a25').change(function() {
  $('#bvalue26').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val()+$('#bvalue16').val()+$('#bvalue17').val()+$('#bvalue18').val()+$('#bvalue19').val()+$('#bvalue20').val()+$('#bvalue21').val()+$('#bvalue22').val()+$('#bvalue23').val()+$('#bvalue24').val()+$('#bvalue25').val());
});*/
</script>-->




<!--
<style>
//*input[type="radio"] {
  display: none;
}*//
input:checked + label {
	background: #ff8;font-weight:bold;
}
span.ans2 { cursor:pointer;font-size: 20px;}
span.ans { border:1px solid #d3d3d3; color:#eeeeee; cursor:pointer; font-weight:bold; background: #eee; }
span.ans.marked { border:1px solid #e3e3e3; color:#000000; font-weight:bold; background-color:#eee; }
input {font-size:15pt;font-weight:bold;text-align:center;height:13px;border:1px solid #996633;background-color:#fff9ed;width:13px;border-radius: 4px;padding-bottom:5px;width:24px; }
input.zpt {font-size:15pt; height:13px;border:1px solid #4c4c4c;background-color:#eee;width:13px;border-radius: 4px;}
</style>
<p class=qq><b>10.1.</b> Выберите вариант ответа, в котором верно сформулирована позиция автора текста по проблеме исходного текста «Может ли человек прожить без любви?»</p>
<table>
	<tr><td><label for="1r1"><div class="answer"><input type="radio" class="ans" name="a27" id="1r1" value="1">&nbsp;Человек может существовать без любви, посвящая свою жизнь благой цели.</div></label></td></tr>
	<tr><td><label for="1r2"><div class="answer"><input type="radio" class="ans" name="a27" id="1r2" value="2">&nbsp;Человеку с&nbsp;сильной волей можно прожить без любви (ИЛИ Можно прожить без любви, потому что её нет в&nbsp;людях).</div></label></td></tr>
	<tr><td><label for="1r3"><div class="answer"><input type="radio" class="ans" name="a27" id="1r3" value="3">&nbsp;Нельзя человеку прожить без любви.</div></label></td></tr>
	<tr><td><label for="1r4"><div class="answer"><input type="radio" class="ans" name="a27" id="1r4" value="4">&nbsp;Человек может прожить без любви, заменяя её «гневной борьбой с&nbsp;вредителями».</div></label></td></tr>
</table><br>
<p class=qq><b>10.2.</b> Выберите <b>два примера</b>, важных для понимания <b>проблемы</b> исходного текста. Вставьте в&nbsp;выбранных примерах пропущенные буквы и&nbsp;заки препинания.</p>
<table class=tbl>
<tr>


<td><label for="r1" onclick="fp(1)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r1" value="1"></div></label></td>
<td><div id="b1">«…ты думаешь() что можно прожить без любви: сильною <nobr>волею()</nobr> <nobr>бл..гою</nobr> целью, справедливостью и&nbsp;гневной борьбой с&nbsp;вредителями? Ты пишешь мне: «О&nbsp;любви лучше не говорить: её нет в&nbsp;людях. К&nbsp;любви лучше и&nbsp;не призывать: кто <nobr>пробуд..т</nobr> её <nobr>в&nbsp;ч..рствых</nobr> сердцах?» <nobr>(предложения 1–4).</nobr></div>
<div id="c1" hidden>«…ты <nobr>думаешь<input type="text" id="a4" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> что можно прожить без любви: сильною <nobr>волею<input type="text" id="a5" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> <nobr>бл<input type="text" id="a1" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">гою</nobr> целью, справедливостью и&nbsp;гневной борьбой с&nbsp;вредителями? Ты пишешь мне: «О&nbsp;любви лучше не говорить: её нет в&nbsp;людях. К&nbsp;любви лучше и&nbsp;не призывать: кто <nobr>пробуд<input type="text" id="a2" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">т</nobr> её <nobr>в ч<input type="text" id="a3" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">рствых</nobr> сердцах?» <nobr>(предложения 1–4).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r2" onclick="fp(2)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r2" value="2"></div></label></td>
<td><div id="b2">Любовь&nbsp;– это естественное <nobr>чу..ство</nobr> <nobr>человека()</nobr> ребёнок любит мать, отца, братьев и&nbsp;сестёр, «позднее <nobr>заг..рается</nobr> взрослою любовью к&nbsp;«ней» (или, <nobr>соответстве..о,</nobr> она <nobr>к&nbsp;«нему»)()</nobr> и&nbsp;так же естественно человеку любить своих детей <nobr>(предложения 10–13).</nobr></div>
<div id="c2" hidden>Любовь&nbsp;– это естественное <nobr>чу<input type="text" id="a6" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">ство</nobr> <nobr>человека<input type="text" id="a9" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> ребёнок любит мать, отца, братьев и&nbsp;сестёр, «позднее <nobr>заг<input type="text" id="a7" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">рается</nobr> взрослою любовью к&nbsp;«ней» (или, <nobr>соответстве<input type="text" id="a8" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off" style="width:26px;">о,</nobr> она <nobr>к&nbsp;«нему»)<input type="text" id="a10" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> и&nbsp;так же естественно человеку любить своих детей <nobr>(предложения 10–13).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r3" onclick="fp(3)"><div width="100%" height="100%" style="padding:15px 7px;"><input type="checkbox" class="ans" name="m0" id="r3" value="3"></div></label></td>
<td><div id="b3">«Как же <nobr>об..йтись</nobr> без любви? Чем <nobr>зам..нить</nobr> её? Чем заполнить страшную <nobr>пустоту()</nobr> <nobr>образу..щуюся</nobr> при её <nobr>отсутствии()»</nobr> <nobr>(предложения 14–16).</nobr></div>
<div id="c3" hidden>«Как же <nobr>об<input type="text" id="a11" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">йтись</nobr> без любви? Чем <nobr>зам<input type="text" id="a12" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">нить</nobr> её? Чем заполнить страшную <nobr>пустоту<input type="text" id="a14" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> <nobr>образу<input type="text" id="a13" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">щуюся</nobr> при её <nobr>отсутствии<input type="text" id="a15" class="zpt" oninput="CheckInt(this)" autocomplete="off">»</nobr> <nobr>(предложения 14–16).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r4" onclick="fp(4)"><div width="100%" height="100%" style="padding:30px 7px;"><input type="checkbox" class="ans" name="m0" id="r4" value="4"></div></label></td>
<td><div id="b4">«…нельзя <nobr>отд..ваться</nobr> этому крутящемуся хаосу. Кто попытается это <nobr>сделать()</nobr> тот растратит и&nbsp;погубит себя. Надо <nobr>выб..рать:</nobr> отказываться от очень многого ради сравнительно немногого; это немногое надо <nobr>привлекать()</nobr> беречь, ценить, копить, растить и&nbsp;этим строить свою <nobr>личн..сть»</nobr> <nobr>(предложения 18–20).</nobr></div>
<div id="c4" hidden>«…нельзя <nobr>отд<input type="text" id="a16" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">ваться</nobr> этому крутящемуся хаосу. Кто попытается это <nobr>сделать<input type="text" id="a19" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> тот растратит и&nbsp;погубит себя. Надо <nobr>выб<input type="text" id="a17" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">рать:</nobr> отказываться от очень многого ради сравнительно немногого; это немногое надо <nobr>привлекать<input type="text" id="a20" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> беречь, ценить, копить, растить и&nbsp;этим строить свою <nobr>личн<input type="text" id="a18" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">сть»</nobr> <nobr>(предложения 18–20).</nobr></div>
</td>

</tr>
<tr>
<td><label for="r5" onclick="fp(5)"><div width="100%" height="100%" style="padding:20px 7px;"><input type="checkbox" class="ans" name="m0" id="r5" value="5"></div></label></td>
<td><div id="b5">Любовь есть «главная выбирающая сила в&nbsp;жизни», которая помогает человеку <nobr>..делать</nobr> правильный выбор <nobr>в&nbsp;огромном()</nobr> бесконечном <nobr>поток..()</nobr> который <nobr>обрушива..тся</nobr> на нас и&nbsp;несёт с&nbsp;собою <nobr>(предложения 18–22).</nobr></div>
<div id="c5" hidden>Любовь есть «главная выбирающая сила в&nbsp;жизни», которая помогает человеку <nobr><input type="text" id="a21" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">делать</nobr> правильный выбор <nobr>в&nbsp;огромном<input type="text" id="a24" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> бесконечном <nobr>поток<input type="text" id="a22" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off"><input type="text" id="a25" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> который <nobr>обрушива<input type="text" id="a23" onfocus="DelDot(this)" onblur="DopDot(this)" value=".." autocomplete="off">тся</nobr> на нас и&nbsp;несёт с&nbsp;собою <nobr>(предложения 18–22).</nobr></div>
</td>

</tr>
</table>
<p class=qq><b>10.3.</b> Выберите <b>два</b> варианта ответов, в&nbsp;которых верно указано(-ы) средство(-а) связи предложений в&nbsp;тексте.</p>
<table>
	<tr><td><label for="2r1"><div class="answer"><input type="checkbox" class="ans" name="m28" id="2r1" value="1">&nbsp;предложения 4–3 связаны с&nbsp;помощью формы слова и&nbsp;лексического повтора</div></label></td></tr>
	<tr><td><label for="2r2"><div class="answer"><input type="checkbox" class="ans" name="m28" id="2r2" value="2">&nbsp;предложения 9–8 связаны с&nbsp;помощью однокоренных слов</div></label></td></tr>
	<tr><td><label for="2r3"><div class="answer"><input type="checkbox" class="ans" name="m28" id="2r3" value="3">&nbsp;предложения 11–10 связаны с&nbsp;помощью притяжательного местоимения</div></label></td></tr>
	<tr><td><label for="2r4"><div class="answer"><input type="checkbox" class="ans" name="m28" id="2r4" value="4">&nbsp;предложения 18–17 связаны с&nbsp;помощью лексического повтора</div></label></td></tr>
	<tr><td><label for="2r5"><div class="answer"><input type="checkbox" class="ans" name="m28" id="2r5" value="5">&nbsp;предложения 32–31 связаны с&nbsp;помощью однокоренных слов</div></label></td></tr>
</table><br>


<br>
<b>ИЛИ</b><br>
<p class="qq">Сформулируйте <b>позицию автора</b> по указанной проблеме: <i>«Как повлияло очарование родной земли на творчество В.Д.&nbsp;Поленова?»</i> Приведите <b>два</b> примера из текста, важные для понимания позиции автора.</p>
<p class=MsoNormal>Запишите ответ в&nbsp;поле для ответа.</p>
<div class="answer">
<table>
<tr><td valign=top>Ответ: </td>
<td><textarea id="a29" style="width:900px;height:300px;" autocomplete="off" spellcheck="false"></textarea></td>
</tr>

</table>
</div>

<script>
/*
function DelDot(element) {
  element.value = element.value.replace(/[.]+/g, '');element.select();
	}
	
function DopDot(element) {
if (element.value == ""){element.value = element.value + "..";}
	}
*/
function CheckInt(element) {
  // Удаление всех символов, не являющихся числами
  element.value = element.value.replace(/[^-–,.?!:;]+/g, '');
	
	 element.value = element.value.replace(/-/g, '–');
}
	
//var answer1=["","","","",""];
function fp(num) {
  if ($('#bvalue0').val().includes(num)){
		document.getElementById('b'+num).hidden=true;
		document.getElementById('c'+num).hidden=false;
//		document.getElementById('a'+((num-1)*5+1)).value = document.getElementById('a'+((num-1)*5+1)).value + "..";
		if (document.getElementById('a'+((num-1)*5+1)).value == "±"){document.getElementById('a'+((num-1)*5+1)).value = "";}
		if (document.getElementById('a'+((num-1)*5+2)).value == "±"){document.getElementById('a'+((num-1)*5+2)).value = "";}
		if (document.getElementById('a'+((num-1)*5+3)).value == "±"){document.getElementById('a'+((num-1)*5+3)).value = "";}
		if (document.getElementById('a'+((num-1)*5+4)).value == "±"){document.getElementById('a'+((num-1)*5+4)).value = "";}
		if (document.getElementById('a'+((num-1)*5+5)).value == "±"){document.getElementById('a'+((num-1)*5+5)).value = "";}
		$('#bvalue'+((num-1)*5+1)).val($('#a'+((num-1)*5+1)).val());
		$('#bvalue'+((num-1)*5+2)).val($('#a'+((num-1)*5+2)).val());
		$('#bvalue'+((num-1)*5+3)).val($('#a'+((num-1)*5+3)).val());
		$('#bvalue'+((num-1)*5+4)).val($('#a'+((num-1)*5+4)).val());
		$('#bvalue'+((num-1)*5+5)).val($('#a'+((num-1)*5+5)).val());
	}
	//document.getElementById('a'+num).hidden=false;
	
	//$('#bvalue'+num).val(answer1[num-1]);$('#bvalue'+(num+4)).val(answer1[num+3]);$('#a'+num).val(answer1[num-1]);
	
	else {
		document.getElementById('b'+num).hidden=false;
		document.getElementById('c'+num).hidden=true;
		$('#bvalue'+((num-1)*5+1)).val('±');
		$('#bvalue'+((num-1)*5+2)).val('±');
		$('#bvalue'+((num-1)*5+3)).val('±');
		$('#bvalue'+((num-1)*5+4)).val('±');
		$('#bvalue'+((num-1)*5+5)).val('±');
	}
	//document.getElementById('a'+num).hidden=true;
	
	//answer1[num-1]=$('#bvalue'+num).val();$('#bvalue'+num).val("-");answer1[num+3]=$('#bvalue'+(num+4)).val();$('#bvalue'+(num+4)).val("-");
$('#bvalue26').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val()+$('#bvalue16').val()+$('#bvalue17').val()+$('#bvalue18').val()+$('#bvalue19').val()+$('#bvalue20').val()+$('#bvalue21').val()+$('#bvalue22').val()+$('#bvalue23').val()+$('#bvalue24').val()+$('#bvalue25').val());
}
//if ($('#bvalue0').val()==''){$('#bvalue1').val("-");$('#bvalue2').val("-");$('#bvalue3').val("-");$('#bvalue4').val("-");}
//if ($('#bvalue0').val()=='-'){$('#bvalue1').val("-");$('#bvalue2').val("-");$('#bvalue3').val("-");$('#bvalue4').val("-");$('#bvalue0').val("");}
if (($('#bvalue0').val()!='')&&($('#bvalue0').val()!='-')){
for (let i = 1; i < 6; i++){
  if ($('#bvalue0').val().includes(i)){
	//document.getElementById('a'+i).hidden=false;
	document.getElementById('b'+i).hidden=true;document.getElementById('c'+i).hidden=false;}
	}
} else{
for (let i = 1; i < 26; i++){
  $('#bvalue'+i).val('±');
	}
$('#bvalue26').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val()+$('#bvalue16').val()+$('#bvalue17').val()+$('#bvalue18').val()+$('#bvalue19').val()+$('#bvalue20').val()+$('#bvalue21').val()+$('#bvalue22').val()+$('#bvalue23').val()+$('#bvalue24').val()+$('#bvalue25').val());
}
/*$('#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20,#a21,#a22,#a23,#a24,#a25').change(function() {
  $('#bvalue26').val($('#bvalue1').val()+$('#bvalue2').val()+$('#bvalue3').val()+$('#bvalue4').val()+$('#bvalue5').val()+$('#bvalue6').val()+$('#bvalue7').val()+$('#bvalue8').val()+$('#bvalue9').val()+$('#bvalue10').val()+$('#bvalue11').val()+$('#bvalue12').val()+$('#bvalue13').val()+$('#bvalue14').val()+$('#bvalue15').val()+$('#bvalue16').val()+$('#bvalue17').val()+$('#bvalue18').val()+$('#bvalue19').val()+$('#bvalue20').val()+$('#bvalue21').val()+$('#bvalue22').val()+$('#bvalue23').val()+$('#bvalue24').val()+$('#bvalue25').val());
});*/
</script>-->				<label for="a1">
				<div class="answer_flex">
<div class="vo_number_container">
<div class="vo_number">
				<font class="qn">1</font>
				<input type="radio" name="Aanswer" class="aanswer" id="a1" onclick="document.getElementById('bvalue0').value='1';">
</div>
</div>
				<div class="vo_text_container">
				<div class="vo_text">Красота родной природы сформировала личность художника как представителя пейзажно-бытового жанра.</div></div></div>
				</label>				<label for="a2">
				<div class="answer_flex">
<div class="vo_number_container">
<div class="vo_number">
				<font class="qn">2</font>
				<input type="radio" name="Aanswer" class="aanswer" id="a2" onclick="document.getElementById('bvalue0').value='2';">
</div>
</div>
				<div class="vo_text_container">
				<div class="vo_text">Восприятие природы родного края изменило направление творчества В.Д. Поленова.</div></div></div>
				</label>				<label for="a3">
				<div class="answer_flex">
<div class="vo_number_container">
<div class="vo_number">
				<font class="qn">3</font>
				<input type="radio" name="Aanswer" class="aanswer" id="a3" onclick="document.getElementById('bvalue0').value='3';">
</div>
</div>
				<div class="vo_text_container">
				<div class="vo_text">Отношение к родному краю обострило чувство любви художника к своему делу.</div></div></div>
				</label>				<label for="a4">
				<div class="answer_flex">
<div class="vo_number_container">
<div class="vo_number">
				<font class="qn">4</font>
				<input type="radio" name="Aanswer" class="aanswer" id="a4" onclick="document.getElementById('bvalue0').value='4';">
</div>
</div>
				<div class="vo_text_container">
				<div class="vo_text">Очарование родной земли оказало большое влияние на творчество Василия Дмитриевича Поленова.</div></div></div>
				</label><br><div style="clear:both"><button onclick="SetAnswerB()" id="SaveButton" style="clear:both;padding:5px;">Сохранить ответ</button></div>

</div> <!-- QuestionTest -->

<div class="answer" id="b" style="display:none;width:990px;">
<form method="post" name="AnswerForm" id="AnswerForm" action="">
<input type="hidden" name="n" value="10">
<input type="hidden" name="Save" value="1">
<br>Ответ:<br><textarea name="bvalue0" id="bvalue0" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br><button type="submit" style="padding:5px;width:300px;margin-top:20px" onclick="$(window).off('beforeunload');">Сохранить ответ на задание</button>
</form>
</div><div id="AnswerHere"></div>

</div> <!-- content -->

<div id="PauseDialog" title="Перерыв" style="display:none">
<center>
Перерыв для выполнения упражнений для глаз.
<br>Таймер остановлен на время перерыва.
<br>Оставшееся время отдыха:
<br>
<br>
<b id="RelaxTimer">-</b>
</center>
</div>


<script>
var TIME_LEFT2, mm, ss, TimeFont, UpTimer, active, RelaxTimer, StartRelax, UpInProgress;

active = 0;
CurrentUpInterval = 10000;
UpInProgress = 0;

window.onload = function(){
    var b1 = document.getElementById("AnswerHere");//блок перед которым ставим
    var b2 = document.getElementById("b");//блок который передвигаем
    b1.parentNode.insertBefore(b2, b1);
	b2.style.display = 'none';
}

function div(val, by){ return (val - val % by) / by; }

// Начать перерыв для глаз
// !!!Внимание хакерам!!! Время на сервере считается параллельно
function pauseTest() {
	$.ajax({
		type: "POST",
		url: "up.php?PauseRequest=1",
		dataType: "json",
		data: "PauseRequest=1",
		timeout: 1000,
		error: function(){
			console.log('error :)');
		},
		success: function(msg){
			if (msg.pause=='1') {
				active = 0; // останавливаем обновление таймера НА КЛИЕНТЕ

				StartRelax = Math.floor(new Date().getTime() / 1000);
				window.clearInterval(RelaxTimer);
				RelaxTimer = window.setInterval( UpdateRelaxTimer, 1000);
				UpdateRelaxTimer();

				// Modal dialog:
				$( "#PauseDialog" ).dialog(
				{
					width: 600,
					modal: true,
					resizable: false,
					draggable: false,
					buttons:	{ 	"Продолжить": function() { $( this ).dialog( "close" ); }			},
					close: function(event, ui) { $( this ).dialog( "close" ); up(1); }
				}
				);

				console.log('onPAUSE !');
			} else console.log('no access to pause now');
		}
	});
}

// Динамически обновляем данные о времени с сервера
function up(ContinueTest=0) {
	if (UpInProgress) return;
	UpInProgress = 1;
	RealPing = new Date().getTime();
	$("#ping").show();
	$.ajax({
		type: "POST",
		url: "up.php",
		dataType: "json",
		data: "ContinueTest="+ContinueTest,
		timeout: 1000,
		error: function(){
			//console.log('up_error');
		},
		success: function(msg){
			RealPing = (new Date().getTime() - RealPing) / 1000;
			//console.log('ping = '+RealPing);
			//$("#resp").html( msg.text );
			TimeFix2 =  msg.now - Math.floor(new Date().getTime() / 1000); // Поправка на локальный таймер, который может отличаться от точного времени
			FINISH = msg.FINISH;
			if (msg.pause==0) active = 1;
			//console.log(msg);
			$("#ping").hide();
			UpdateTimer2();
			if (CurrentUpInterval!=msg.UpInterval && msg.UpInterval>0) {
				console.log('Change up interval to ' + msg.UpInterval);
				window.clearInterval(UpTimer);
				CurrentUpInterval = msg.UpInterval;
				UpTimer = window.setInterval( up, CurrentUpInterval);
			}
			if (msg.PauseNeeded==1 && msg.pause==0) pauseTest();
		}
	});
	UpInProgress = 0;
	//console.log('ok');
}

function UpdateTimer2() {
	if (!active) return;
	//console.log('.');
	TIME_LEFT2_REAL = FINISH - Math.floor(new Date().getTime() / 1000) - TimeFix2;
	TIME_LEFT2 = Math.abs(TIME_LEFT2_REAL);
	mm = div(TIME_LEFT2, 60);
	ss = TIME_LEFT2 % 60;
	if (ss<10) ss = '0'+ss;
	if (mm<5) TimeFont = '<font color="#aa0000">'; else TimeFont = '<font>';
	if (TIME_LEFT2_REAL>0) $("#topline").html( TimeFont + 'Оставшееся время - ' + mm + ':' + ss + '</font>' );
	else $("#topline").html( TimeFont + '‼️ <b style="color:red">Время закончилось</b> - ' + mm + ':' + ss + '</font>' );
	if (TIME_LEFT2_REAL<-0) { $(window).off('beforeunload'); document.location="?n=998"; }
}

function UpdateRelaxTimer() {
	RelaxyLeftTime = 300 - (Math.floor(new Date().getTime() / 1000) - StartRelax);
	if (RelaxyLeftTime<0) { window.clearInterval(RelaxTimer); $( "#PauseDialog" ).dialog( "close" ); }
	mm = div(RelaxyLeftTime, 60);
	ss = RelaxyLeftTime % 60;
	if (ss<10) ss = '0'+ss;
	$("#RelaxTimer").html( mm+':'+ss );
}

</script><script>
var timer2 = window.setInterval( UpdateTimer2, 500);
var UpTimer = window.setInterval( up, CurrentUpInterval);
up();
</script>

<br><center><font style="color:#cccccc;font-size:8pt">Page generated in 0.01, memory usage: 560 kb</font></center>
<script>
function SetAnswerB() { window.onbeforeunload = null; document.forms["AnswerForm"].submit(); }

function FormAnswer(n) {
//	document.getElementById("qanswer"+n).checked = ! document.getElementById("qanswer"+n).checked;
	r = '';
	if ($('#qanswer1:checked').length) r=r+'1';
	if ($('#qanswer2:checked').length) r=r+'2';
	if ($('#qanswer3:checked').length) r=r+'3';
	if ($('#qanswer4:checked').length) r=r+'4';
	if ($('#qanswer5:checked').length) r=r+'5';
	if ($('#qanswer6:checked').length) r=r+'6';
	if ($('#qanswer7:checked').length) r=r+'7';
	if ($('#qanswer8:checked').length) r=r+'8';
	if ($('#qanswer9:checked').length) r=r+'9';
	if ($('#qanswer10:checked').length) r=r+'10';
	if ($('#qanswer11:checked').length) r=r+'11';
	if ($('#qanswer12:checked').length) r=r+'12';
	if ($('#qanswer13:checked').length) r=r+'13';
	if ($('#qanswer14:checked').length) r=r+'14';
	if ($('#qanswer15:checked').length) r=r+'15';
	document.getElementById("bvalue0").value = r;
}

</script>


<div id="kb" class="kb"></div></body></html>