<!DOCTYPE html>
<html lang="ru" translate="no" class="notranslate"><head>
<title>Компьютерное тестирование</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="1_1_files/main7.css" type="text/css" rel="stylesheet">
<link href="1_1_files/virt_kb.css" type="text/css" rel="stylesheet">
<link href="1_1_files/mpu.css" type="text/css" rel="stylesheet">


<link href="1_1_files/kim.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="js/jQuery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!-- JQuery -->
<script type="text/javascript" src="1_1_files/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="1_1_files/jquery-ui.min.js"></script>
<script type="text/javascript" src="1_1_files/jquery.ui.touch-punch.min.js"></script>
<link href="1_1_files/jquery-ui.css" type="text/css" rel="stylesheet">

<!-- Virtual keyboard plugin -->
<script type="text/javascript" src="1_1_files/virt_kb.js"></script>

</head>

<body>
<div style="clear:both"></div>
<div id="header">
	<div class="subheader2x">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td>
				<span id="ping" style="position: absolute; opacity: 0.2; display: none;">*</span>
				<p style="margin-left:15px;color:#000000;font-size:12pt;text-indent:0"> Задания: </p>
			</td><td><p id="topline"><font>Оставшееся время - 43:10</font></p>
		</td></tr></tbody></table>
<form method="post" action="" onsubmit="$(window).off('beforeunload');">
<button class="qnum" type="submit" name="n" value="">Описание</button>
<button class="qnum qramka" type="submit" name="n" value="11">1.1</button>
<button class="qnum" type="submit" name="n" value="12">1.2</button>
<button class="qnum" type="submit" name="n" value="20">2</button>
<button class="qnum" type="submit" name="n" value="30">3</button>
<button class="qnum" type="submit" name="n" value="40">4</button>
<button class="qnum" type="submit" name="n" value="50">5</button>
<button class="qnum" type="submit" name="n" value="60">6</button>
<button class="qnum" type="submit" name="n" value="70">7</button>
<button class="qnum" type="submit" name="n" value="80">8</button>
<button class="qnum" type="submit" name="n" value="90">9</button>
<button class="qnum" type="submit" name="n" value="100">10</button>
<button class="qnum" type="submit" name="n" value="999">закончить</button>
</form>
	</div>
</div>

<div id="reserved"></div>



<script>MyLogin = 'test_32325';</script>

<div id="content">

<div id="QuestionTest">

 <!-- answer -->

<style>
input[type="radio"] {
  display: none;
}
input:checked + label {
	background: #ff8;font-weight:bold;
}
span.ans2 { cursor:pointer;font-size: 20px;}
span.ans { border:1px solid #d3d3d3; color:#eeeeee; cursor:pointer; font-weight:bold; background: #eee; }
span.ans.marked { border:1px solid #e3e3e3; color:#000000; font-weight:bold; background-color:#eee; }
input {font-size:15pt;font-weight:bold;text-align:center; height:13px;border:1px solid #4c4c4c;border-radius: 4px;padding-bottom:5px;width:12px; border:none;}
input.zpt {font-size:13pt; height:13px;border:1px solid #4c4c4c;background-color:#eee;width:13px;border-radius: 4px;}
</style>

<p class="MsoNormal" style="border:1px solid black; text-align:center; margin:0px; padding:0px 3px; line-height:1.5"><b><i>Прочитайте текст и выполните задания 1.1 и 1.2.</i></b></p>
<p class="MsoNormal">&nbsp;</p>
<!--<p class=qq>Укажите верные написания слов в тексте и расставьте недостающие знаки препинания.</p>
<p align="justify" style="font-size:14pt;text-indent:0px;margin:0px;padding:0px;color:#886600"><i>Чтобы сделать выбор верного написания (е/и; а/о; и/ы; з/с; с/ст; в/вь; ш/шь; н/нн; слитно/раздельно) и вставить недостающие знаки препинания, необходимо щёлкнуть левой кнопкой мыши:</i></p>

<p align="justify" style="font-size:14pt;text-indent:20px;margin:0px;padding:0px;color:#886600">● <i>по варианту написания (е/и; а/о; и/ы; з/с; с/ст; в/вь; ш/шь; н/нн; слитно/раздельно) и выбрать верный ответ; 
</i></p>
<p align="justify" style="font-size:14pt;text-indent:20px;margin:0px;padding:0px;color:#886600">● <i>по полю <span style="position:relative;top:-0.0pt"><img src="/test/questions/9203460/1608939.files/image001.png"></span>, в котором необходио поставить с помощью клавиатуры соответствующий знак препинания.</i></p><br>-->

<!--<p align="justify" style="font-size:14pt;text-indent:0px;margin:0px;padding:0px;color:#886600"><i>Запишите подчёркнутые слова в поля рядом, раскрыв скобки и вставив пропущенные буквы. В поля <span style="position:relative;top:-0.0pt"><img src="/test/questions/9203460/80659534.files/demo_1_2.png"></span> вставьте недостающие буквы. В поля <span style="position:relative;top:-0.0pt"><img src="/test/questions/9203460/80659534.files/demo_1.png"></span> поставьте знаки препинания.</i></p><br>-->
<!--<div style="border:2px solid #996633; background:#ffffff; padding:10px;margin:10px 0px;">-->


<p class="qq">Прочитайте текст. Укажите буквы и написания слов, 
соответствующие орфографическим правилам, и&nbsp;расставьте недостающие 
знаки препинания.</p>
<p align="justify" style="font-size:14pt;text-indent:0px;margin:0px;padding:0px;color:#886600"><i>Чтобы
 выбрать слитное/раздельное/дефисное написание или выделить нужную 
букву, необходимо щёлкнуть левой кнопкой мыши по правильному ответу. 
Чтобы поставить знак препинания, необходимо внести его с&nbsp;помощью 
клавиатуры в&nbsp;поле <span style="position:relative;top:-0.0pt"><img src="1_1_files/image001.png"></span>. При отсутствии знака препинания поле следует оставить пустым.</i></p><br>


<div style="border:2px solid #996633;  padding:10px;margin:10px 0px;">

<p style="line-height:150%">(1)Тобольск 
  <nobr><b>(в)течени(<input type="radio" id="0r1" name="a0" value="1"><label for="0r1">е</label>,<input type="radio" id="0r2" name="a0" value="2"><label for="0r2">и</label>)</b><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">(</span><input type="radio" id="1r1" name="a1" value="1"><label for="1r1"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">слитно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">/</span><input type="radio" id="1r2" name="a1" value="2"><label for="1r2"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">раздельно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">)</span></nobr> 
  многих лет был 
  <nobr>деревя(<input type="radio" id="2r1" name="a2" value="1"><label for="2r1">н</label>,<input type="radio" id="2r2" name="a2" value="2"><label for="2r2">нн</label>)ым.</nobr> 
  (2)Он 
  <nobr><b>(не)редко</b><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">(</span><input type="radio" id="3r1" name="a3" value="1"><label for="3r1"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">слитно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">/</span><input type="radio" id="3r2" name="a3" value="2"><label for="3r2"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">раздельно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">)</span></nobr> 
  <nobr>г(<input type="radio" id="4r1" name="a4" value="1"><label for="4r1">а</label>,<input type="radio" id="4r2" name="a4" value="2"><label for="4r2">о</label>)рел<input type="text" id="a68" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr>
  <nobr>и снов(<input type="radio" id="5r1" name="a5" value="1"><label for="5r1">а</label>,<input type="radio" id="5r2" name="a5" value="2"><label for="5r2">о</label>)</nobr> 
  <nobr>стро(<input type="radio" id="6r1" name="a6" value="1"><label for="6r1">е</label>,<input type="radio" id="6r2" name="a6" value="2"><label for="6r2">и</label>)лся<input type="text" id="a69" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>возр(<input type="radio" id="7r1" name="a7" value="1"><label for="7r1">а</label>,<input type="radio" id="7r2" name="a7" value="2"><label for="7r2">о</label>)ждаясь</nobr> 
  <nobr>занов(<input type="radio" id="8r1" name="a8" value="1"><label for="8r1">а</label>,<input type="radio" id="8r2" name="a8" value="2"><label for="8r2">о</label>).</nobr> 
  <nobr>(3)Вид(<input type="radio" id="9r1" name="a9" value="1"><label for="9r1">е</label>,<input type="radio" id="9r2" name="a9" value="2"><label for="9r2">и</label>)мо<input type="text" id="a70" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  пожары 
  <nobr>з(<input type="radio" id="10r1" name="a10" value="1"><label for="10r1">а</label>,<input type="radio" id="10r2" name="a10" value="2"><label for="10r2">о</label>)став(<input type="radio" id="11r1" name="a11" value="1"><label for="11r1">е</label>,<input type="radio" id="11r2" name="a11" value="2"><label for="11r2">и</label>)ли</nobr> 
  <nobr>наме(<input type="radio" id="12r1" name="a12" value="1"><label for="12r1">с</label>,<input type="radio" id="12r2" name="a12" value="2"><label for="12r2">ст</label>)ников</nobr> 
  <nobr>пр(<input type="radio" id="13r1" name="a13" value="1"><label for="13r1">а</label>,<input type="radio" id="13r2" name="a13" value="2"><label for="13r2">о</label>)сить</nobr> 
  царя 
  <nobr>о стр(<input type="radio" id="14r1" name="a14" value="1"><label for="14r1">а</label>,<input type="radio" id="14r2" name="a14" value="2"><label for="14r2">о</label>)ит(<input type="radio" id="15r1" name="a15" value="1"><label for="15r1">е</label>,<input type="radio" id="15r2" name="a15" value="2"><label for="15r2">и</label>)льств(<input type="radio" id="16r1" name="a16" value="1"><label for="16r1">е</label>,<input type="radio" id="16r2" name="a16" value="2"><label for="16r2">и</label>)</nobr> 
  <nobr>каме(<input type="radio" id="17r1" name="a17" value="1"><label for="17r1">н</label>,<input type="radio" id="17r2" name="a17" value="2"><label for="17r2">нн</label>)ом.</nobr> 
  (4)Быстро 
  <nobr>выр(<input type="radio" id="18r1" name="a18" value="1"><label for="18r1">а</label>,<input type="radio" id="18r2" name="a18" value="2"><label for="18r2">о</label>)сли</nobr> 
  <nobr>на мысу<input type="text" id="a71" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>кр(<input type="radio" id="19r1" name="a19" value="1"><label for="19r1">е</label>,<input type="radio" id="19r2" name="a19" value="2"><label for="19r2">и</label>)млёвские</nobr> 
  <nobr>стены<input type="text" id="a72" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  церковь 
  <nobr>и к(<input type="radio" id="20r1" name="a20" value="1"><label for="20r1">а</label>,<input type="radio" id="20r2" name="a20" value="2"><label for="20r2">о</label>)локольня<input type="text" id="a73" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>(<input type="radio" id="21r1" name="a21" value="1"><label for="21r1">з</label>,<input type="radio" id="21r2" name="a21" value="2"><label for="21r2">с</label>)дания</nobr> 
  гражданских служб. 
  <nobr>(5)В спло(<input type="radio" id="22r1" name="a22" value="1"><label for="22r1">ш</label>,<input type="radio" id="22r2" name="a22" value="2"><label for="22r2">шь</label>)</nobr> 
  <nobr>деревя(<input type="radio" id="23r1" name="a23" value="1"><label for="23r1">н</label>,<input type="radio" id="23r2" name="a23" value="2"><label for="23r2">нн</label>)ой</nobr> 
  <nobr>Сибир(<input type="radio" id="24r1" name="a24" value="1"><label for="24r1">е</label>,<input type="radio" id="24r2" name="a24" value="2"><label for="24r2">и</label>) <input type="text" id="a74" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  это были первые 
  <nobr>каме(<input type="radio" id="25r1" name="a25" value="1"><label for="25r1">н</label>,<input type="radio" id="25r2" name="a25" value="2"><label for="25r2">нн</label>)ые</nobr> 
  <nobr>п(<input type="radio" id="26r1" name="a26" value="1"><label for="26r1">а</label>,<input type="radio" id="26r2" name="a26" value="2"><label for="26r2">о</label>)стройки.</nobr> 
  <nobr>(6)Пр(<input type="radio" id="27r1" name="a27" value="1"><label for="27r1">е</label>,<input type="radio" id="27r2" name="a27" value="2"><label for="27r2">и</label>)дста(<input type="radio" id="28r1" name="a28" value="1"><label for="28r1">в</label>,<input type="radio" id="28r2" name="a28" value="2"><label for="28r2">вь</label>)те<input type="text" id="a75" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>с(<input type="radio" id="29r1" name="a29" value="1"><label for="29r1">а</label>,<input type="radio" id="29r2" name="a29" value="2"><label for="29r2">о</label>)стояние</nobr> 
  <nobr>человека<input type="text" id="a76" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>выр(<input type="radio" id="30r1" name="a30" value="1"><label for="30r1">а</label>,<input type="radio" id="30r2" name="a30" value="2"><label for="30r2">о</label>)сш(<input type="radio" id="31r1" name="a31" value="1"><label for="31r1">е</label>,<input type="radio" id="31r2" name="a31" value="2"><label for="31r2">и</label>)го</nobr> 
  в&nbsp;этих 
  <nobr>местах<input type="text" id="a77" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  когда 
  <nobr>он<input type="text" id="a78" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  выйдя 
  <nobr>из дебрей<input type="text" id="a79" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>вид(<input type="radio" id="32r1" name="a32" value="1"><label for="32r1">е</label>,<input type="radio" id="32r2" name="a32" value="2"><label for="32r2">и</label>)л</nobr> 
  <nobr>бел(<input type="radio" id="33r1" name="a33" value="1"><label for="33r1">а</label>,<input type="radio" id="33r2" name="a33" value="2"><label for="33r2">о</label>)каме(<input type="radio" id="34r1" name="a34" value="1"><label for="34r1">н</label>,<input type="radio" id="34r2" name="a34" value="2"><label for="34r2">нн</label>)ый</nobr> 
  кремль. (7)Перед ним и сегодня 
  <nobr>стои(<input type="radio" id="35r1" name="a35" value="1"><label for="35r1">ш</label>,<input type="radio" id="35r2" name="a35" value="2"><label for="35r2">шь</label>)</nobr> 
  <nobr>в радо(<input type="radio" id="36r1" name="a36" value="1"><label for="36r1">с</label>,<input type="radio" id="36r2" name="a36" value="2"><label for="36r2">ст</label>)ном</nobr> 
  <nobr>изумлени(<input type="radio" id="37r1" name="a37" value="1"><label for="37r1">е</label>,<input type="radio" id="37r2" name="a37" value="2"><label for="37r2">и</label>).</nobr> </p>

<p style="line-height:150%">(8)Тобольск 
  <nobr>закр(<input type="radio" id="38r1" name="a38" value="1"><label for="38r1">е</label>,<input type="radio" id="38r2" name="a38" value="2"><label for="38r2">и</label>)пил</nobr> 
  за Россией 
  <nobr>пр(<input type="radio" id="39r1" name="a39" value="1"><label for="39r1">а</label>,<input type="radio" id="39r2" name="a39" value="2"><label for="39r2">о</label>)странства<input type="text" id="a80" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>пройде(<input type="radio" id="40r1" name="a40" value="1"><label for="40r1">н</label>,<input type="radio" id="40r2" name="a40" value="2"><label for="40r2">нн</label>)ые</nobr> 
  <nobr>земл(<input type="radio" id="41r1" name="a41" value="1"><label for="41r1">е</label>,<input type="radio" id="41r2" name="a41" value="2"><label for="41r2">и</label>)пр(<input type="radio" id="42r1" name="a42" value="1"><label for="42r1">а</label>,<input type="radio" id="42r2" name="a42" value="2"><label for="42r2">о</label>)ходцами.</nobr> 
  (9)Он стал 
  <nobr>ст(<input type="radio" id="43r1" name="a43" value="1"><label for="43r1">а</label>,<input type="radio" id="43r2" name="a43" value="2"><label for="43r2">о</label>)лицей</nobr> 
  всех 
  <nobr>земель<input type="text" id="a81" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>ра(<input type="radio" id="44r1" name="a44" value="1"><label for="44r1">з</label>,<input type="radio" id="44r2" name="a44" value="2"><label for="44r2">с</label>)положе(<input type="radio" id="45r1" name="a45" value="1"><label for="45r1">н</label>,<input type="radio" id="45r2" name="a45" value="2"><label for="45r2">нн</label>)ых</nobr> 
  <nobr>от Урала<input type="text" id="a82" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>до тих(<input type="radio" id="46r1" name="a46" value="1"><label for="46r1">а</label>,<input type="radio" id="46r2" name="a46" value="2"><label for="46r2">о</label>)океанского</nobr> 
  <nobr>поб(<input type="radio" id="47r1" name="a47" value="1"><label for="47r1">е</label>,<input type="radio" id="47r2" name="a47" value="2"><label for="47r2">и</label>)режья.</nobr> 
  (10)Это был 
  <nobr>единстве(<input type="radio" id="48r1" name="a48" value="1"><label for="48r1">н</label>,<input type="radio" id="48r2" name="a48" value="2"><label for="48r2">нн</label>)ый</nobr> 
  город 
  <nobr>в Росси(<input type="radio" id="49r1" name="a49" value="1"><label for="49r1">е</label>,<input type="radio" id="49r2" name="a49" value="2"><label for="49r2">и</label>)<input type="text" id="a83" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>пр(<input type="radio" id="50r1" name="a50" value="1"><label for="50r1">е</label>,<input type="radio" id="50r2" name="a50" value="2"><label for="50r2">и</label>)нимавш(<input type="radio" id="51r1" name="a51" value="1"><label for="51r1">е</label>,<input type="radio" id="51r2" name="a51" value="2"><label for="51r2">и</label>)й</nobr> 
  послов наравне со стольной Москвой. 
  <nobr>(11)Религия<input type="text" id="a84" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>в(<input type="radio" id="52r1" name="a52" value="1"><label for="52r1">а</label>,<input type="radio" id="52r2" name="a52" value="2"><label for="52r2">о</label>)йска<input type="text" id="a85" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>ремёсла<input type="text" id="a86" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>т(<input type="radio" id="53r1" name="a53" value="1"><label for="53r1">а</label>,<input type="radio" id="53r2" name="a53" value="2"><label for="53r2">о</label>)рговля<input type="text" id="a87" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>администрац(<input type="radio" id="54r1" name="a54" value="1"><label for="54r1">и</label>,<input type="radio" id="54r2" name="a54" value="2"><label for="54r2">ы</label>)я <input type="text" id="a88" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  всё нашло 
  <nobr>в Тобольск(<input type="radio" id="55r1" name="a55" value="1"><label for="55r1">е</label>,<input type="radio" id="55r2" name="a55" value="2"><label for="55r2">и</label>)</nobr> 
  удобное место. 
  <nobr>(12)Город<input type="text" id="a89" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  стремительно 
  <nobr>разв(<input type="radio" id="56r1" name="a56" value="1"><label for="56r1">е</label>,<input type="radio" id="56r2" name="a56" value="2"><label for="56r2">и</label>)ваясь<input type="text" id="a90" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  стал главным 
  <nobr>в Сибир(<input type="radio" id="57r1" name="a57" value="1"><label for="57r1">е</label>,<input type="radio" id="57r2" name="a57" value="2"><label for="57r2">и</label>).</nobr> 
  (13)Через него ехали 
  <nobr>на восток<input type="text" id="a91" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  послы 
  <nobr>и купц(<input type="radio" id="58r1" name="a58" value="1"><label for="58r1">и</label>,<input type="radio" id="58r2" name="a58" value="2"><label for="58r2">ы</label>).</nobr> 
  (14)Его 
  <nobr><b>(не)могли</b><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">(</span><input type="radio" id="59r1" name="a59" value="1"><label for="59r1"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">слитно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">/</span><input type="radio" id="59r2" name="a59" value="2"><label for="59r2"><i style="font-size:14pt;margin:0px;padding:0px;color:#886600">раздельно</i></label><span style="font-size:14pt;margin:0px;padding:0px;color:#886600">)</span></nobr> 
  <nobr>мин(<input type="radio" id="60r1" name="a60" value="1"><label for="60r1">а</label>,<input type="radio" id="60r2" name="a60" value="2"><label for="60r2">о</label>)вать</nobr> 
  <nobr>географы<input type="text" id="a92" class="zpt" oninput="CheckInt(this)" autocomplete="off"></nobr> 
  <nobr>пут(<input type="radio" id="61r1" name="a61" value="1"><label for="61r1">е</label>,<input type="radio" id="61r2" name="a61" value="2"><label for="61r2">и</label>)шестве(<input type="radio" id="62r1" name="a62" value="1"><label for="62r1">н</label>,<input type="radio" id="62r2" name="a62" value="2"><label for="62r2">нн</label>)ики</nobr> 
  <nobr>и земл(<input type="radio" id="63r1" name="a63" value="1"><label for="63r1">е</label>,<input type="radio" id="63r2" name="a63" value="2"><label for="63r2">и</label>)проходц(<input type="radio" id="64r1" name="a64" value="1"><label for="64r1">и</label>,<input type="radio" id="64r2" name="a64" value="2"><label for="64r2">ы</label>).</nobr></p> 
  
  
<p style="line-height:150%">(15)До сей поры Тобольск 
  <nobr>с(<input type="radio" id="65r1" name="a65" value="1"><label for="65r1">а</label>,<input type="radio" id="65r2" name="a65" value="2"><label for="65r2">о</label>)хранил</nobr> 
  <nobr>сл(<input type="radio" id="66r1" name="a66" value="1"><label for="66r1">е</label>,<input type="radio" id="66r2" name="a66" value="2"><label for="66r2">и</label>)ды</nobr> 
  былого 
  <nobr>в(<input type="radio" id="67r1" name="a67" value="1"><label for="67r1">е</label>,<input type="radio" id="67r2" name="a67" value="2"><label for="67r2">и</label>)личия.</nobr>
</p>


  <p class="MsoNormal" align="right" style="text-align:right; line-height:1.5"><i>(По В. Пескову)</i></p>
</div>
<br>
<!--<p class=qq>Перепишите первый абзац данного текста.</p>

<div class="answer">
<textarea id="a96" style="width:950px;height:250px;" autocomplete="off" spellcheck="false"></textarea></div>-->


<br><button onclick="Store()">Сохранить ответ</button>

<script>
function DelDot(element) {
  element.value = element.value.replace(/[.]+/g, '');element.select();
	}
	
function DopDot(element) {
if (element.value == ""){element.value = element.value + "..";}
	}
 function Store() {
    $('#bvalue0').val( $('input[name=a0]:checked').val() );
	$('#bvalue1').val( $('input[name=a1]:checked').val() );
	$('#bvalue2').val( $('input[name=a2]:checked').val() );
	$('#bvalue3').val( $('input[name=a3]:checked').val() );
	$('#bvalue4').val( $('input[name=a4]:checked').val() );
	$('#bvalue5').val( $('input[name=a5]:checked').val() );
	$('#bvalue6').val( $('input[name=a6]:checked').val() );
    $('#bvalue7').val( $('input[name=a7]:checked').val() );
    $('#bvalue8').val( $('input[name=a8]:checked').val() );
    $('#bvalue9').val( $('input[name=a9]:checked').val() );
    $('#bvalue10').val( $('input[name=a10]:checked').val() );
	$('#bvalue11').val( $('input[name=a11]:checked').val() );
	$('#bvalue12').val( $('input[name=a12]:checked').val() );
	$('#bvalue13').val( $('input[name=a13]:checked').val() );
	$('#bvalue14').val( $('input[name=a14]:checked').val() );
	$('#bvalue15').val( $('input[name=a15]:checked').val() );
	$('#bvalue16').val( $('input[name=a16]:checked').val() );
    $('#bvalue17').val( $('input[name=a17]:checked').val() );
    $('#bvalue18').val( $('input[name=a18]:checked').val() );
    $('#bvalue19').val( $('input[name=a19]:checked').val() );   
    $('#bvalue20').val( $('input[name=a20]:checked').val() );
	$('#bvalue21').val( $('input[name=a21]:checked').val() );
	$('#bvalue22').val( $('input[name=a22]:checked').val() );
	$('#bvalue23').val( $('input[name=a23]:checked').val() );
	$('#bvalue24').val( $('input[name=a24]:checked').val() );
	$('#bvalue25').val( $('input[name=a25]:checked').val() );
	$('#bvalue26').val( $('input[name=a26]:checked').val() );
    $('#bvalue27').val( $('input[name=a27]:checked').val() );
    $('#bvalue28').val( $('input[name=a28]:checked').val() );
    $('#bvalue29').val( $('input[name=a29]:checked').val() );   
    $('#bvalue30').val( $('input[name=a30]:checked').val() );
	$('#bvalue31').val( $('input[name=a31]:checked').val() );
	$('#bvalue32').val( $('input[name=a32]:checked').val() );
	$('#bvalue33').val( $('input[name=a33]:checked').val() );
	$('#bvalue34').val( $('input[name=a34]:checked').val() );
	$('#bvalue35').val( $('input[name=a35]:checked').val() );
	$('#bvalue36').val( $('input[name=a36]:checked').val() );
    $('#bvalue37').val( $('input[name=a37]:checked').val() );
    $('#bvalue38').val( $('input[name=a38]:checked').val() );
    $('#bvalue39').val( $('input[name=a39]:checked').val() );   
    $('#bvalue40').val( $('input[name=a40]:checked').val() );
	$('#bvalue41').val( $('input[name=a41]:checked').val() );
	$('#bvalue42').val( $('input[name=a42]:checked').val() );
	$('#bvalue43').val( $('input[name=a43]:checked').val() );
	$('#bvalue44').val( $('input[name=a44]:checked').val() );
	$('#bvalue45').val( $('input[name=a45]:checked').val() );
	$('#bvalue46').val( $('input[name=a46]:checked').val() );
    $('#bvalue47').val( $('input[name=a47]:checked').val() );
    $('#bvalue48').val( $('input[name=a48]:checked').val() );
    $('#bvalue49').val( $('input[name=a49]:checked').val() );
    $('#bvalue50').val( $('input[name=a50]:checked').val() );
	$('#bvalue51').val( $('input[name=a51]:checked').val() );
	$('#bvalue52').val( $('input[name=a52]:checked').val() );
	$('#bvalue53').val( $('input[name=a53]:checked').val() );
	$('#bvalue54').val( $('input[name=a54]:checked').val() );
	$('#bvalue55').val( $('input[name=a55]:checked').val() );
	$('#bvalue56').val( $('input[name=a56]:checked').val() );
    $('#bvalue57').val( $('input[name=a57]:checked').val() );
    $('#bvalue58').val( $('input[name=a58]:checked').val() );
    $('#bvalue59').val( $('input[name=a59]:checked').val() );   
    $('#bvalue60').val( $('input[name=a60]:checked').val() );
	$('#bvalue61').val( $('input[name=a61]:checked').val() );
	$('#bvalue62').val( $('input[name=a62]:checked').val() );
	$('#bvalue63').val( $('input[name=a63]:checked').val() );
	$('#bvalue64').val( $('input[name=a64]:checked').val() );
	$('#bvalue65').val( $('input[name=a65]:checked').val() );
	$('#bvalue66').val( $('input[name=a66]:checked').val() );
    $('#bvalue67').val( $('input[name=a67]:checked').val() );

   
   
   
   
	if ($('#a68').val() == '') {$('#bvalue68').val('0');} else {$('#bvalue68').val( $('#a68').val() );}
	if ($('#a69').val() == '') {$('#bvalue69').val('0');} else {$('#bvalue69').val( $('#a69').val() );}
	if ($('#a70').val() == '') {$('#bvalue70').val('0');} else {$('#bvalue70').val( $('#a70').val() );}
    if ($('#a71').val() == '') {$('#bvalue71').val('0');} else {$('#bvalue71').val( $('#a71').val() );}
	if ($('#a72').val() == '') {$('#bvalue72').val('0');} else {$('#bvalue72').val( $('#a72').val() );}
	if ($('#a73').val() == '') {$('#bvalue73').val('0');} else {$('#bvalue73').val( $('#a73').val() );}
	if ($('#a74').val() == '') {$('#bvalue74').val('0');} else {$('#bvalue74').val( $('#a74').val() );}
	if ($('#a75').val() == '') {$('#bvalue75').val('0');} else {$('#bvalue75').val( $('#a75').val() );}
	if ($('#a76').val() == '') {$('#bvalue76').val('0');} else {$('#bvalue76').val( $('#a76').val() );}
	if ($('#a77').val() == '') {$('#bvalue77').val('0');} else {$('#bvalue77').val( $('#a77').val() );}
	if ($('#a78').val() == '') {$('#bvalue78').val('0');} else {$('#bvalue78').val( $('#a78').val() );}
	if ($('#a79').val() == '') {$('#bvalue79').val('0');} else {$('#bvalue79').val( $('#a79').val() );}
	if ($('#a80').val() == '') {$('#bvalue80').val('0');} else {$('#bvalue80').val( $('#a80').val() );}
    if ($('#a81').val() == '') {$('#bvalue81').val('0');} else {$('#bvalue81').val( $('#a81').val() );}
	if ($('#a82').val() == '') {$('#bvalue82').val('0');} else {$('#bvalue82').val( $('#a82').val() );}
	if ($('#a83').val() == '') {$('#bvalue83').val('0');} else {$('#bvalue83').val( $('#a83').val() );}
	if ($('#a84').val() == '') {$('#bvalue84').val('0');} else {$('#bvalue84').val( $('#a84').val() );}
	if ($('#a85').val() == '') {$('#bvalue85').val('0');} else {$('#bvalue85').val( $('#a85').val() );}
	if ($('#a86').val() == '') {$('#bvalue86').val('0');} else {$('#bvalue86').val( $('#a86').val() );}
	if ($('#a87').val() == '') {$('#bvalue87').val('0');} else {$('#bvalue87').val( $('#a87').val() );}
	if ($('#a88').val() == '') {$('#bvalue88').val('0');} else {$('#bvalue88').val( $('#a88').val() );}
	if ($('#a89').val() == '') {$('#bvalue89').val('0');} else {$('#bvalue89').val( $('#a89').val() );}
    if ($('#a90').val() == '') {$('#bvalue90').val('0');} else {$('#bvalue90').val( $('#a90').val() );}
    if ($('#a91').val() == '') {$('#bvalue91').val('0');} else {$('#bvalue91').val( $('#a91').val() );}
	if ($('#a92').val() == '') {$('#bvalue92').val('0');} else {$('#bvalue92').val( $('#a92').val() );}
   
  SetAnswerB();
  return;
 }

 $('input[name=a0][value="'+$('#bvalue0').val()+'"]').attr("checked", true);
 $('input[name=a1][value="'+$('#bvalue1').val()+'"]').attr("checked", true);                      
 $('input[name=a2][value="'+$('#bvalue2').val()+'"]').attr("checked", true);
 $('input[name=a3][value="'+$('#bvalue3').val()+'"]').attr("checked", true);
 $('input[name=a4][value="'+$('#bvalue4').val()+'"]').attr("checked", true);  
 $('input[name=a5][value="'+$('#bvalue5').val()+'"]').attr("checked", true);
 $('input[name=a6][value="'+$('#bvalue6').val()+'"]').attr("checked", true);
 $('input[name=a7][value="'+$('#bvalue7').val()+'"]').attr("checked", true);
 $('input[name=a8][value="'+$('#bvalue8').val()+'"]').attr("checked", true);
 $('input[name=a9][value="'+$('#bvalue9').val()+'"]').attr("checked", true);
 $('input[name=a10][value="'+$('#bvalue10').val()+'"]').attr("checked", true);
 $('input[name=a11][value="'+$('#bvalue11').val()+'"]').attr("checked", true);                      
 $('input[name=a12][value="'+$('#bvalue12').val()+'"]').attr("checked", true);
 $('input[name=a13][value="'+$('#bvalue13').val()+'"]').attr("checked", true);
 $('input[name=a14][value="'+$('#bvalue14').val()+'"]').attr("checked", true);  
 $('input[name=a15][value="'+$('#bvalue15').val()+'"]').attr("checked", true);
 $('input[name=a16][value="'+$('#bvalue16').val()+'"]').attr("checked", true);
 $('input[name=a17][value="'+$('#bvalue17').val()+'"]').attr("checked", true);
 $('input[name=a18][value="'+$('#bvalue18').val()+'"]').attr("checked", true);
 $('input[name=a19][value="'+$('#bvalue19').val()+'"]').attr("checked", true);
 $('input[name=a20][value="'+$('#bvalue20').val()+'"]').attr("checked", true);
 $('input[name=a21][value="'+$('#bvalue21').val()+'"]').attr("checked", true);                      
 $('input[name=a22][value="'+$('#bvalue22').val()+'"]').attr("checked", true);
 $('input[name=a23][value="'+$('#bvalue23').val()+'"]').attr("checked", true);
 $('input[name=a24][value="'+$('#bvalue24').val()+'"]').attr("checked", true);  
 $('input[name=a25][value="'+$('#bvalue25').val()+'"]').attr("checked", true);
 $('input[name=a26][value="'+$('#bvalue26').val()+'"]').attr("checked", true);
 $('input[name=a27][value="'+$('#bvalue27').val()+'"]').attr("checked", true);
 $('input[name=a28][value="'+$('#bvalue28').val()+'"]').attr("checked", true);
 $('input[name=a29][value="'+$('#bvalue29').val()+'"]').attr("checked", true);  
 $('input[name=a30][value="'+$('#bvalue30').val()+'"]').attr("checked", true);
 $('input[name=a31][value="'+$('#bvalue31').val()+'"]').attr("checked", true);                      
 $('input[name=a32][value="'+$('#bvalue32').val()+'"]').attr("checked", true);
 $('input[name=a33][value="'+$('#bvalue33').val()+'"]').attr("checked", true);
 $('input[name=a34][value="'+$('#bvalue34').val()+'"]').attr("checked", true);  
 $('input[name=a35][value="'+$('#bvalue35').val()+'"]').attr("checked", true);
 $('input[name=a36][value="'+$('#bvalue36').val()+'"]').attr("checked", true);
 $('input[name=a37][value="'+$('#bvalue37').val()+'"]').attr("checked", true);
 $('input[name=a38][value="'+$('#bvalue38').val()+'"]').attr("checked", true);
 $('input[name=a39][value="'+$('#bvalue39').val()+'"]').attr("checked", true);  
 $('input[name=a40][value="'+$('#bvalue40').val()+'"]').attr("checked", true);
 $('input[name=a41][value="'+$('#bvalue41').val()+'"]').attr("checked", true);                      
 $('input[name=a42][value="'+$('#bvalue42').val()+'"]').attr("checked", true);
 $('input[name=a43][value="'+$('#bvalue43').val()+'"]').attr("checked", true);
 $('input[name=a44][value="'+$('#bvalue44').val()+'"]').attr("checked", true);  
 $('input[name=a45][value="'+$('#bvalue45').val()+'"]').attr("checked", true);
 $('input[name=a46][value="'+$('#bvalue46').val()+'"]').attr("checked", true);
 $('input[name=a47][value="'+$('#bvalue47').val()+'"]').attr("checked", true);
 $('input[name=a48][value="'+$('#bvalue48').val()+'"]').attr("checked", true);
 $('input[name=a49][value="'+$('#bvalue49').val()+'"]').attr("checked", true);  
 $('input[name=a50][value="'+$('#bvalue50').val()+'"]').attr("checked", true);
 $('input[name=a51][value="'+$('#bvalue51').val()+'"]').attr("checked", true);                      
 $('input[name=a52][value="'+$('#bvalue52').val()+'"]').attr("checked", true);
 $('input[name=a53][value="'+$('#bvalue53').val()+'"]').attr("checked", true);
 $('input[name=a54][value="'+$('#bvalue54').val()+'"]').attr("checked", true);  
 $('input[name=a55][value="'+$('#bvalue55').val()+'"]').attr("checked", true);
 $('input[name=a56][value="'+$('#bvalue56').val()+'"]').attr("checked", true);
 $('input[name=a57][value="'+$('#bvalue57').val()+'"]').attr("checked", true);
 $('input[name=a58][value="'+$('#bvalue58').val()+'"]').attr("checked", true);
 $('input[name=a59][value="'+$('#bvalue59').val()+'"]').attr("checked", true);  
 $('input[name=a60][value="'+$('#bvalue60').val()+'"]').attr("checked", true);
 $('input[name=a61][value="'+$('#bvalue61').val()+'"]').attr("checked", true);                      
 $('input[name=a62][value="'+$('#bvalue62').val()+'"]').attr("checked", true);
 $('input[name=a63][value="'+$('#bvalue63').val()+'"]').attr("checked", true);
 $('input[name=a64][value="'+$('#bvalue64').val()+'"]').attr("checked", true);  
 $('input[name=a65][value="'+$('#bvalue65').val()+'"]').attr("checked", true);
 $('input[name=a66][value="'+$('#bvalue66').val()+'"]').attr("checked", true);
 $('input[name=a67][value="'+$('#bvalue67').val()+'"]').attr("checked", true);

  
  
 if (($('#bvalue68').val() == ',') || ($('#bvalue68').val() == '–') ) {$('#a68').val( $('#bvalue68').val() );}
 if (($('#bvalue69').val() == ',') || ($('#bvalue69').val() == '–') ) {$('#a69').val( $('#bvalue69').val() );}
 if (($('#bvalue70').val() == ',') || ($('#bvalue70').val() == '–') ) {$('#a70').val( $('#bvalue70').val() );}
 if (($('#bvalue71').val() == ',') || ($('#bvalue71').val() == '–') ) {$('#a71').val( $('#bvalue71').val() );}
 if (($('#bvalue72').val() == ',') || ($('#bvalue72').val() == '–') ) {$('#a72').val( $('#bvalue72').val() );}
 if (($('#bvalue73').val() == ',') || ($('#bvalue73').val() == '–') ) {$('#a73').val( $('#bvalue73').val() );}
 if (($('#bvalue74').val() == ',') || ($('#bvalue74').val() == '–') ) {$('#a74').val( $('#bvalue74').val() );}
 if (($('#bvalue75').val() == ',') || ($('#bvalue75').val() == '–') ) {$('#a75').val( $('#bvalue75').val() );}
 if (($('#bvalue76').val() == ',') || ($('#bvalue76').val() == '–') ) {$('#a76').val( $('#bvalue76').val() );}
 if (($('#bvalue77').val() == ',') || ($('#bvalue77').val() == '–') ) {$('#a77').val( $('#bvalue77').val() );}
 if (($('#bvalue78').val() == ',') || ($('#bvalue78').val() == '–') ) {$('#a78').val( $('#bvalue78').val() );}
 if (($('#bvalue79').val() == ',') || ($('#bvalue79').val() == '–') ) {$('#a79').val( $('#bvalue79').val() );}
 if (($('#bvalue80').val() == ',') || ($('#bvalue80').val() == '–') ) {$('#a80').val( $('#bvalue80').val() );}
 if (($('#bvalue81').val() == ',') || ($('#bvalue81').val() == '–') ) {$('#a81').val( $('#bvalue81').val() );}
 if (($('#bvalue82').val() == ',') || ($('#bvalue82').val() == '–') ) {$('#a82').val( $('#bvalue82').val() );}
 if (($('#bvalue83').val() == ',') || ($('#bvalue83').val() == '–') ) {$('#a83').val( $('#bvalue83').val() );}
 if (($('#bvalue84').val() == ',') || ($('#bvalue84').val() == '–') ) {$('#a84').val( $('#bvalue84').val() );}
 if (($('#bvalue85').val() == ',') || ($('#bvalue85').val() == '–') ) {$('#a85').val( $('#bvalue85').val() );}
 if (($('#bvalue86').val() == ',') || ($('#bvalue86').val() == '–') ) {$('#a86').val( $('#bvalue86').val() );}
 if (($('#bvalue87').val() == ',') || ($('#bvalue87').val() == '–') ) {$('#a87').val( $('#bvalue87').val() );}
 if (($('#bvalue88').val() == ',') || ($('#bvalue88').val() == '–') ) {$('#a88').val( $('#bvalue88').val() );}
 if (($('#bvalue89').val() == ',') || ($('#bvalue89').val() == '–') ) {$('#a89').val( $('#bvalue89').val() );}
 if (($('#bvalue90').val() == ',') || ($('#bvalue90').val() == '–') ) {$('#a90').val( $('#bvalue90').val() );}
 if (($('#bvalue91').val() == ',') || ($('#bvalue91').val() == '–') ) {$('#a91').val( $('#bvalue91').val() );}
 if (($('#bvalue92').val() == ',') || ($('#bvalue92').val() == '–') ) {$('#a92').val( $('#bvalue92').val() );}  
  
</script>
<script>
function CheckInt(element) {
  element.value = element.value.replace(/[^,.–-]/g, ''); // Разрешаем запятую, точку, тире и дефис
  element.value = element.value.replace(/\./g, ','); // Точка в запятую
  element.value = element.value.replace(/-/, '–'); // Дефис в тире
  if (element.value.length > 1) { // Оставляем только первый символ
    element.value = element.value[0];
  }
}
</script>

</div> <!-- QuestionTest -->

<div class="answer" id="b" style="display:none;width:990px;">
<form method="post" name="AnswerForm" id="AnswerForm" action="">
<input type="hidden" name="n" value="11">
<input type="hidden" name="Save" value="1">
<br>Ответ-0:<br><textarea name="bvalue0" id="bvalue0" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-1:<br><textarea name="bvalue1" id="bvalue1" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-2:<br><textarea name="bvalue2" id="bvalue2" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-3:<br><textarea name="bvalue3" id="bvalue3" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-4:<br><textarea name="bvalue4" id="bvalue4" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-5:<br><textarea name="bvalue5" id="bvalue5" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-6:<br><textarea name="bvalue6" id="bvalue6" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-7:<br><textarea name="bvalue7" id="bvalue7" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-8:<br><textarea name="bvalue8" id="bvalue8" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-9:<br><textarea name="bvalue9" id="bvalue9" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-10:<br><textarea name="bvalue10" id="bvalue10" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-11:<br><textarea name="bvalue11" id="bvalue11" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-12:<br><textarea name="bvalue12" id="bvalue12" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-13:<br><textarea name="bvalue13" id="bvalue13" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-14:<br><textarea name="bvalue14" id="bvalue14" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-15:<br><textarea name="bvalue15" id="bvalue15" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-16:<br><textarea name="bvalue16" id="bvalue16" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-17:<br><textarea name="bvalue17" id="bvalue17" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-18:<br><textarea name="bvalue18" id="bvalue18" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-19:<br><textarea name="bvalue19" id="bvalue19" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-20:<br><textarea name="bvalue20" id="bvalue20" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-21:<br><textarea name="bvalue21" id="bvalue21" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-22:<br><textarea name="bvalue22" id="bvalue22" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-23:<br><textarea name="bvalue23" id="bvalue23" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-24:<br><textarea name="bvalue24" id="bvalue24" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-25:<br><textarea name="bvalue25" id="bvalue25" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-26:<br><textarea name="bvalue26" id="bvalue26" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-27:<br><textarea name="bvalue27" id="bvalue27" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-28:<br><textarea name="bvalue28" id="bvalue28" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-29:<br><textarea name="bvalue29" id="bvalue29" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-30:<br><textarea name="bvalue30" id="bvalue30" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-31:<br><textarea name="bvalue31" id="bvalue31" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-32:<br><textarea name="bvalue32" id="bvalue32" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-33:<br><textarea name="bvalue33" id="bvalue33" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-34:<br><textarea name="bvalue34" id="bvalue34" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-35:<br><textarea name="bvalue35" id="bvalue35" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-36:<br><textarea name="bvalue36" id="bvalue36" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-37:<br><textarea name="bvalue37" id="bvalue37" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-38:<br><textarea name="bvalue38" id="bvalue38" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-39:<br><textarea name="bvalue39" id="bvalue39" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-40:<br><textarea name="bvalue40" id="bvalue40" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-41:<br><textarea name="bvalue41" id="bvalue41" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-42:<br><textarea name="bvalue42" id="bvalue42" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-43:<br><textarea name="bvalue43" id="bvalue43" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-44:<br><textarea name="bvalue44" id="bvalue44" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-45:<br><textarea name="bvalue45" id="bvalue45" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-46:<br><textarea name="bvalue46" id="bvalue46" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-47:<br><textarea name="bvalue47" id="bvalue47" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-48:<br><textarea name="bvalue48" id="bvalue48" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-49:<br><textarea name="bvalue49" id="bvalue49" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-50:<br><textarea name="bvalue50" id="bvalue50" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-51:<br><textarea name="bvalue51" id="bvalue51" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-52:<br><textarea name="bvalue52" id="bvalue52" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-53:<br><textarea name="bvalue53" id="bvalue53" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-54:<br><textarea name="bvalue54" id="bvalue54" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-55:<br><textarea name="bvalue55" id="bvalue55" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-56:<br><textarea name="bvalue56" id="bvalue56" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-57:<br><textarea name="bvalue57" id="bvalue57" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-58:<br><textarea name="bvalue58" id="bvalue58" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-59:<br><textarea name="bvalue59" id="bvalue59" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-60:<br><textarea name="bvalue60" id="bvalue60" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-61:<br><textarea name="bvalue61" id="bvalue61" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-62:<br><textarea name="bvalue62" id="bvalue62" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-63:<br><textarea name="bvalue63" id="bvalue63" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-64:<br><textarea name="bvalue64" id="bvalue64" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-65:<br><textarea name="bvalue65" id="bvalue65" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-66:<br><textarea name="bvalue66" id="bvalue66" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-67:<br><textarea name="bvalue67" id="bvalue67" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-68:<br><textarea name="bvalue68" id="bvalue68" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-69:<br><textarea name="bvalue69" id="bvalue69" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-70:<br><textarea name="bvalue70" id="bvalue70" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-71:<br><textarea name="bvalue71" id="bvalue71" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-72:<br><textarea name="bvalue72" id="bvalue72" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-73:<br><textarea name="bvalue73" id="bvalue73" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-74:<br><textarea name="bvalue74" id="bvalue74" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-75:<br><textarea name="bvalue75" id="bvalue75" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-76:<br><textarea name="bvalue76" id="bvalue76" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-77:<br><textarea name="bvalue77" id="bvalue77" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-78:<br><textarea name="bvalue78" id="bvalue78" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-79:<br><textarea name="bvalue79" id="bvalue79" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-80:<br><textarea name="bvalue80" id="bvalue80" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-81:<br><textarea name="bvalue81" id="bvalue81" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-82:<br><textarea name="bvalue82" id="bvalue82" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-83:<br><textarea name="bvalue83" id="bvalue83" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-84:<br><textarea name="bvalue84" id="bvalue84" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-85:<br><textarea name="bvalue85" id="bvalue85" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-86:<br><textarea name="bvalue86" id="bvalue86" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-87:<br><textarea name="bvalue87" id="bvalue87" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-88:<br><textarea name="bvalue88" id="bvalue88" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-89:<br><textarea name="bvalue89" id="bvalue89" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-90:<br><textarea name="bvalue90" id="bvalue90" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-91:<br><textarea name="bvalue91" id="bvalue91" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-92:<br><textarea name="bvalue92" id="bvalue92" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br><button type="submit" style="padding:5px;width:300px;margin-top:20px" onclick="$(window).off('beforeunload');">Сохранить ответ на задание</button>
</form>
</div><div id="AnswerHere"></div>

</div> <!-- content -->

<div id="PauseDialog" title="Перерыв" style="display:none">
<center>
Перерыв для выполнения упражнений для глаз.
<br>Таймер остановлен на время перерыва.
<br>Оставшееся время отдыха:
<br>
<br>
<b id="RelaxTimer">-</b>
</center>
</div>


<script>
var TIME_LEFT2, mm, ss, TimeFont, UpTimer, active, RelaxTimer, StartRelax, UpInProgress;

active = 0;
CurrentUpInterval = 10000;
UpInProgress = 0;

window.onload = function(){
    var b1 = document.getElementById("AnswerHere");//блок перед которым ставим
    var b2 = document.getElementById("b");//блок который передвигаем
    b1.parentNode.insertBefore(b2, b1);
	b2.style.display = 'none';
}

function div(val, by){ return (val - val % by) / by; }

// Начать перерыв для глаз
// !!!Внимание хакерам!!! Время на сервере считается параллельно
function pauseTest() {
	$.ajax({
		type: "POST",
		url: "up.php?PauseRequest=1",
		dataType: "json",
		data: "PauseRequest=1",
		timeout: 1000,
		error: function(){
			console.log('error :)');
		},
		success: function(msg){
			if (msg.pause=='1') {
				active = 0; // останавливаем обновление таймера НА КЛИЕНТЕ

				StartRelax = Math.floor(new Date().getTime() / 1000);
				window.clearInterval(RelaxTimer);
				RelaxTimer = window.setInterval( UpdateRelaxTimer, 1000);
				UpdateRelaxTimer();

				// Modal dialog:
				$( "#PauseDialog" ).dialog(
				{
					width: 600,
					modal: true,
					resizable: false,
					draggable: false,
					buttons:	{ 	"Продолжить": function() { $( this ).dialog( "close" ); }			},
					close: function(event, ui) { $( this ).dialog( "close" ); up(1); }
				}
				);

				console.log('onPAUSE !');
			} else console.log('no access to pause now');
		}
	});
}

// Динамически обновляем данные о времени с сервера
function up(ContinueTest=0) {
	if (UpInProgress) return;
	UpInProgress = 1;
	RealPing = new Date().getTime();
	$("#ping").show();
	$.ajax({
		type: "POST",
		url: "up.php",
		dataType: "json",
		data: "ContinueTest="+ContinueTest,
		timeout: 1000,
		error: function(){
			//console.log('up_error');
		},
		success: function(msg){
			RealPing = (new Date().getTime() - RealPing) / 1000;
			//console.log('ping = '+RealPing);
			//$("#resp").html( msg.text );
			TimeFix2 =  msg.now - Math.floor(new Date().getTime() / 1000); // Поправка на локальный таймер, который может отличаться от точного времени
			FINISH = msg.FINISH;
			if (msg.pause==0) active = 1;
			//console.log(msg);
			$("#ping").hide();
			UpdateTimer2();
			if (CurrentUpInterval!=msg.UpInterval && msg.UpInterval>0) {
				console.log('Change up interval to ' + msg.UpInterval);
				window.clearInterval(UpTimer);
				CurrentUpInterval = msg.UpInterval;
				UpTimer = window.setInterval( up, CurrentUpInterval);
			}
			if (msg.PauseNeeded==1 && msg.pause==0) pauseTest();
		}
	});
	UpInProgress = 0;
	//console.log('ok');
}

function UpdateTimer2() {
	if (!active) return;
	//console.log('.');
	TIME_LEFT2_REAL = FINISH - Math.floor(new Date().getTime() / 1000) - TimeFix2;
	TIME_LEFT2 = Math.abs(TIME_LEFT2_REAL);
	mm = div(TIME_LEFT2, 60);
	ss = TIME_LEFT2 % 60;
	if (ss<10) ss = '0'+ss;
	if (mm<5) TimeFont = '<font color="#aa0000">'; else TimeFont = '<font>';
	if (TIME_LEFT2_REAL>0) $("#topline").html( TimeFont + 'Оставшееся время - ' + mm + ':' + ss + '</font>' );
	else $("#topline").html( TimeFont + '‼️ <b style="color:red">Время закончилось</b> - ' + mm + ':' + ss + '</font>' );
	if (TIME_LEFT2_REAL<-0) { $(window).off('beforeunload'); document.location="?n=998"; }
}

function UpdateRelaxTimer() {
	RelaxyLeftTime = 300 - (Math.floor(new Date().getTime() / 1000) - StartRelax);
	if (RelaxyLeftTime<0) { window.clearInterval(RelaxTimer); $( "#PauseDialog" ).dialog( "close" ); }
	mm = div(RelaxyLeftTime, 60);
	ss = RelaxyLeftTime % 60;
	if (ss<10) ss = '0'+ss;
	$("#RelaxTimer").html( mm+':'+ss );
}

</script><script>
var timer2 = window.setInterval( UpdateTimer2, 500);
var UpTimer = window.setInterval( up, CurrentUpInterval);
up();
</script>

<br><center><font style="color:#cccccc;font-size:8pt">Page generated in 0.007, memory usage: 626 kb</font></center>
<script>
function SetAnswerB() { window.onbeforeunload = null; document.forms["AnswerForm"].submit(); }

function FormAnswer(n) {
//	document.getElementById("qanswer"+n).checked = ! document.getElementById("qanswer"+n).checked;
	r = '';
	if ($('#qanswer1:checked').length) r=r+'1';
	if ($('#qanswer2:checked').length) r=r+'2';
	if ($('#qanswer3:checked').length) r=r+'3';
	if ($('#qanswer4:checked').length) r=r+'4';
	if ($('#qanswer5:checked').length) r=r+'5';
	if ($('#qanswer6:checked').length) r=r+'6';
	if ($('#qanswer7:checked').length) r=r+'7';
	if ($('#qanswer8:checked').length) r=r+'8';
	if ($('#qanswer9:checked').length) r=r+'9';
	if ($('#qanswer10:checked').length) r=r+'10';
	if ($('#qanswer11:checked').length) r=r+'11';
	if ($('#qanswer12:checked').length) r=r+'12';
	if ($('#qanswer13:checked').length) r=r+'13';
	if ($('#qanswer14:checked').length) r=r+'14';
	if ($('#qanswer15:checked').length) r=r+'15';
	document.getElementById("bvalue0").value = r;
}

</script>


<div id="kb" class="kb"></div></body></html>