<!DOCTYPE html>
<html lang="ru" translate="no" class="notranslate"><head>
<title>Компьютерное тестирование</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="1_2_files/main7.css" type="text/css" rel="stylesheet">
<link href="1_2_files/virt_kb.css" type="text/css" rel="stylesheet">
<link href="1_2_files/mpu.css" type="text/css" rel="stylesheet">


<link href="1_2_files/kim.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="js/jQuery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!-- JQuery -->
<script type="text/javascript" src="1_2_files/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="1_2_files/jquery-ui.min.js"></script>
<script type="text/javascript" src="1_2_files/jquery.ui.touch-punch.min.js"></script>
<link href="1_2_files/jquery-ui.css" type="text/css" rel="stylesheet">

<!-- Virtual keyboard plugin -->
<script type="text/javascript" src="1_2_files/virt_kb.js"></script>

</head>

<body>
<div style="clear:both"></div>
<div id="header">
	<div class="subheader2x">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td>
				<span id="ping" style="position: absolute; opacity: 0.2; display: none;">*</span>
				<p style="margin-left:15px;color:#000000;font-size:12pt;text-indent:0"> Задания: </p>
			</td><td><p id="topline"><font>Оставшееся время - 43:04</font></p>
		</td></tr></tbody></table>
<form method="post" action="" onsubmit="$(window).off('beforeunload');">
<button class="qnum" type="submit" name="n" value="">Описание</button>
<button class="qnum" type="submit" name="n" value="11">1.1</button>
<button class="qnum qramka" type="submit" name="n" value="12">1.2</button>
<button class="qnum" type="submit" name="n" value="20">2</button>
<button class="qnum" type="submit" name="n" value="30">3</button>
<button class="qnum" type="submit" name="n" value="40">4</button>
<button class="qnum" type="submit" name="n" value="50">5</button>
<button class="qnum" type="submit" name="n" value="60">6</button>
<button class="qnum" type="submit" name="n" value="70">7</button>
<button class="qnum" type="submit" name="n" value="80">8</button>
<button class="qnum" type="submit" name="n" value="90">9</button>
<button class="qnum" type="submit" name="n" value="100">10</button>
<button class="qnum" type="submit" name="n" value="999">закончить</button>
</form>
	</div>
</div>

<div id="reserved"></div>



<script>MyLogin = 'test_32325';</script>

<div id="content">

<div id="QuestionTest">

 <!-- answer -->

<p class="MsoNormal" style="border:1px solid black; text-align:center; margin:0px; padding:0px 3px; line-height:1.5"><b><i>Прочитайте текст и выполните задания 1.1 и 1.2.</i></b></p>
<p class="MsoNormal">&nbsp;</p>

<div style="border:2px solid #996633; background:#fff9ed; padding:10px;margin:10px 0px;">
<p>(1)Тобольск (в)течени(е,и) многих лет был деревя(н,нн)ым. (2)Он 
(не)редко г(а,о)рел() и&nbsp;снов(а,о) стро(е,и)лся() возр(а,о)ждаясь 
занов(а,о). (3)Вид(е,и)мо() пожары з(а,о)став(е,и)ли наме(с,ст)ников 
пр(а,о)сить царя о&nbsp;стр(а,о)ит(е,и)льств(е,и) каме(н,нн)ом. 
(4)Быстро выр(а,о)сли на мысу() кр(е,и)млёвские стены() церковь 
и&nbsp;к(а,о)локольня() (з,с)дания гражданских служб. 
(5)В&nbsp;спло(ш,шь) деревя(н,нн)ой Сибир(е,и)&nbsp;() это были первые 
каме(н,нн)ые п(а,о)стройки. (6)Пр(е,и)дста(в,вь)те() с(а,о)стояние 
человека() выр(а,о)сш(е,и)го в&nbsp;этих местах() когда он() выйдя из 
дебрей() вид(е,и)л бел(а,о)каме(н,нн)ый кремль. (7)Перед ним 
и&nbsp;сегодня стои(ш,шь) в&nbsp;радо(с,ст)ном изумлени(е,и).</p>

<p>(8)Тобольск закр(е,и)пил за Россией пр(а,о)странства() пройде(н,нн)ые
 земл(е,и)пр(а,о)ходцами. (9)Он стал ст(а,о)лицей всех земель() 
ра(з,с)положе(н,нн)ых от Урала() до тих(а,о)океанского поб(е,и)режья. 
(10)Это был единстве(н,нн)ый город в&nbsp;Росси(е,и)() 
пр(е,и)нимавш(е,и)й послов наравне со стольной Москвой. (11)Религия() 
в(а,о)йска() ремёсла() т(а,о)рговля() администрац(и,ы)я&nbsp;() всё 
нашло в&nbsp;Тобольск(е,и) удобное место. (12)Город() стремительно 
разв(е,и)ваясь() стал главным в&nbsp;Сибир(е,и). (13)Через него ехали на
 восток() послы и&nbsp;купц(и,ы). (14)Его (не)могли мин(а,о)вать 
географы() пут(е,и)шестве(н,нн)ики и&nbsp;земл(е,и)проходц(и,ы).</p>

<p>(15)До сей поры Тобольск с(а,о)хранил сл(е,и)ды былого в(е,и)личия.</p>


  <p class="MsoNormal" align="right" style="text-align:right; line-height:1.2"><i>(По В.&nbsp;Пескову)</i></p>
</div><style>
span.ans {  border-bottom:1px dotted #000088; cursor:pointer; }
span.ans.marked { border-bottom:1px solid #880000; color:#880000; font-weight:bold; background-color:#ffff88; }
</style>

<p class="qq">Сопоставьте приведённые ниже предложения с текстом. В каждом из них укажите слово, написание которого не соответствует тексту: 
в нём переставлены буквы или оно заменено другим словом.</p>
<p align="justify" style="font-size:14pt;text-indent:0px;margin:0px;padding:0px;color:#886600"><i>Чтобы
 указать СЛОВО, не соответствующее тексту, щёлкните по нему левой 
кнопкой мыши. Чтобы отменить действие, щёлкните по слову ещё раз. 
В окошке справа запишите верный вариант выделенного слова так, как оно 
записано в тексте.
 <br>Переписывать <u>несколько слов или предложение полностью не нужно</u>.</i></p>
<button onclick="$('#dialog').dialog('open');" title="Показать подсказку" style="float:right;margin:5px;"> Инструкция </button>
<br>
<table class="tbl" width="100%">
<tbody><tr>

<td width="620">
<div onclick="chd()"> 
(11)<span class="ans" name="a0" value="1">Религия</span>() 
<span class="ans" name="a0" value="2">в(а,о)йска</span>() 
<span class="ans" name="a0" value="3">ремёсла</span>() 
<span class="ans" name="a0" value="4">т(а,о)рговля</span>() 
<span class="ans" name="a0" value="5">администрац(и,ы)я</span>&nbsp;()
<span class="ans" name="a0" value="6">всё</span> 
<span class="ans" name="a0" value="7">заняло</span>
<span class="ans" name="a0" value="8">в</span>&nbsp;<span class="ans" name="a0" value="9">Тобольск(е,и)</span> 
<span class="ans" name="a0" value="10">удобное</span>
<span class="ans" name="a0" value="11">место</span>.</div></td>
<td class="answer" width="310"> <input type="text" id="a1" maxlength="15" style="width:300px" autocomplete="off" spellcheck="false" disabled="disabled" required=""> </td>
</tr>
<tr>

<td>
<div onclick="chd()"> 
(12)<span class="ans" name="a2" value="1">Город</span>()
<span class="ans" name="a2" value="2">стремительно</span> 
<span class="ans" name="a2" value="3"> разв(е,и)ваясь</span>() 
<span class="ans" name="a2" value="4">стал</span> 
<span class="ans" name="a2" value="5">гланвым</span> 
<span class="ans" name="a2" value="6">в</span>&nbsp;<span class="ans" name="a2" value="7">Сибир(е,и)</span>.</div></td>
<td class="answer"> <input type="text" id="a3" maxlength="15" style="width:300px" autocomplete="off" spellcheck="false" disabled="disabled" required=""> </td>
</tr>

</tbody></table>
<br>

<script>
function chd() {
	if (($('#bvalue0').val() != "")&&($('#bvalue0').val() != "-")){
		document.getElementById("a1").disabled=false;
	}
	else {
		document.getElementById("a1").disabled=true;
	}
	if (($('#bvalue2').val() != "")&&($('#bvalue2').val() != "-")){
		document.getElementById("a3").disabled=false;
	}
	else {
		document.getElementById("a3").disabled=true;
	}
}
if (($('#bvalue0').val() != "")&&($('#bvalue0').val() != "-")){
		document.getElementById("a1").disabled=false;
	}
if (($('#bvalue2').val() != "")&&($('#bvalue2').val() != "-")){
		document.getElementById("a3").disabled=false;
	}
</script>
<script>
$(document).ready(function() {
    $("#dialog").dialog({ autoOpen: false, buttons: {Ok: function() {$( this ).dialog( "close" );}}, width: 810	});
});
</script>
<script>
  document.getElementById("a1").addEventListener("input", function(e) {
    this.value = this.value.replace(/\s/g, "");
  });
	document.getElementById("a3").addEventListener("input", function(e) {
    this.value = this.value.replace(/\s/g, "");
  });
</script><br>

</div> <!-- QuestionTest -->

<div class="answer" id="b" style="display:none;width:990px;">
<form method="post" name="AnswerForm" id="AnswerForm" action="">
<input type="hidden" name="n" value="12" autocomplete="off" spellcheck="false">
<input type="hidden" name="Save" value="1" autocomplete="off" spellcheck="false">
<br>Ответ-0:<br><textarea name="bvalue0" id="bvalue0" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false"></textarea>
<br>Ответ-1:<br><textarea name="bvalue1" id="bvalue1" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false"></textarea>
<br>Ответ-2:<br><textarea name="bvalue2" id="bvalue2" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false"></textarea>
<br>Ответ-3:<br><textarea name="bvalue3" id="bvalue3" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false"></textarea>
<br><button type="submit" style="padding:5px;width:300px;margin-top:20px" onclick="$(window).off('beforeunload');">Сохранить ответ на задание</button>
</form>
</div><div id="AnswerHere"><button onclick="SetAnswerB()" style="margin-top:15px">Сохранить ответ</button></div>

</div> <!-- content -->

<div id="PauseDialog" title="Перерыв" style="display:none">
<center>
Перерыв для выполнения упражнений для глаз.
<br>Таймер остановлен на время перерыва.
<br>Оставшееся время отдыха:
<br>
<br>
<b id="RelaxTimer">-</b>
</center>
</div>


<script>
var TIME_LEFT2, mm, ss, TimeFont, UpTimer, active, RelaxTimer, StartRelax, UpInProgress;

active = 0;
CurrentUpInterval = 10000;
UpInProgress = 0;

window.onload = function(){
    var b1 = document.getElementById("AnswerHere");//блок перед которым ставим
    var b2 = document.getElementById("b");//блок который передвигаем
    b1.parentNode.insertBefore(b2, b1);
	b2.style.display = 'none';
}

function div(val, by){ return (val - val % by) / by; }

// Начать перерыв для глаз
// !!!Внимание хакерам!!! Время на сервере считается параллельно
function pauseTest() {
	$.ajax({
		type: "POST",
		url: "up.php?PauseRequest=1",
		dataType: "json",
		data: "PauseRequest=1",
		timeout: 1000,
		error: function(){
			console.log('error :)');
		},
		success: function(msg){
			if (msg.pause=='1') {
				active = 0; // останавливаем обновление таймера НА КЛИЕНТЕ

				StartRelax = Math.floor(new Date().getTime() / 1000);
				window.clearInterval(RelaxTimer);
				RelaxTimer = window.setInterval( UpdateRelaxTimer, 1000);
				UpdateRelaxTimer();

				// Modal dialog:
				$( "#PauseDialog" ).dialog(
				{
					width: 600,
					modal: true,
					resizable: false,
					draggable: false,
					buttons:	{ 	"Продолжить": function() { $( this ).dialog( "close" ); }			},
					close: function(event, ui) { $( this ).dialog( "close" ); up(1); }
				}
				);

				console.log('onPAUSE !');
			} else console.log('no access to pause now');
		}
	});
}

// Динамически обновляем данные о времени с сервера
function up(ContinueTest=0) {
	if (UpInProgress) return;
	UpInProgress = 1;
	RealPing = new Date().getTime();
	$("#ping").show();
	$.ajax({
		type: "POST",
		url: "up.php",
		dataType: "json",
		data: "ContinueTest="+ContinueTest,
		timeout: 1000,
		error: function(){
			//console.log('up_error');
		},
		success: function(msg){
			RealPing = (new Date().getTime() - RealPing) / 1000;
			//console.log('ping = '+RealPing);
			//$("#resp").html( msg.text );
			TimeFix2 =  msg.now - Math.floor(new Date().getTime() / 1000); // Поправка на локальный таймер, который может отличаться от точного времени
			FINISH = msg.FINISH;
			if (msg.pause==0) active = 1;
			//console.log(msg);
			$("#ping").hide();
			UpdateTimer2();
			if (CurrentUpInterval!=msg.UpInterval && msg.UpInterval>0) {
				console.log('Change up interval to ' + msg.UpInterval);
				window.clearInterval(UpTimer);
				CurrentUpInterval = msg.UpInterval;
				UpTimer = window.setInterval( up, CurrentUpInterval);
			}
			if (msg.PauseNeeded==1 && msg.pause==0) pauseTest();
		}
	});
	UpInProgress = 0;
	//console.log('ok');
}

function UpdateTimer2() {
	if (!active) return;
	//console.log('.');
	TIME_LEFT2_REAL = FINISH - Math.floor(new Date().getTime() / 1000) - TimeFix2;
	TIME_LEFT2 = Math.abs(TIME_LEFT2_REAL);
	mm = div(TIME_LEFT2, 60);
	ss = TIME_LEFT2 % 60;
	if (ss<10) ss = '0'+ss;
	if (mm<5) TimeFont = '<font color="#aa0000">'; else TimeFont = '<font>';
	if (TIME_LEFT2_REAL>0) $("#topline").html( TimeFont + 'Оставшееся время - ' + mm + ':' + ss + '</font>' );
	else $("#topline").html( TimeFont + '‼️ <b style="color:red">Время закончилось</b> - ' + mm + ':' + ss + '</font>' );
	if (TIME_LEFT2_REAL<-0) { $(window).off('beforeunload'); document.location="?n=998"; }
}

function UpdateRelaxTimer() {
	RelaxyLeftTime = 300 - (Math.floor(new Date().getTime() / 1000) - StartRelax);
	if (RelaxyLeftTime<0) { window.clearInterval(RelaxTimer); $( "#PauseDialog" ).dialog( "close" ); }
	mm = div(RelaxyLeftTime, 60);
	ss = RelaxyLeftTime % 60;
	if (ss<10) ss = '0'+ss;
	$("#RelaxTimer").html( mm+':'+ss );
}

</script><script>
var timer2 = window.setInterval( UpdateTimer2, 500);
var UpTimer = window.setInterval( up, CurrentUpInterval);
up();
</script><script type="text/javascript" src="1_2_files/basic_am7.js"></script>

<br><center><font style="color:#cccccc;font-size:8pt">Page generated in 0.005, memory usage: 494 kb</font></center>
<script>
function SetAnswerB() { window.onbeforeunload = null; document.forms["AnswerForm"].submit(); }

function FormAnswer(n) {
//	document.getElementById("qanswer"+n).checked = ! document.getElementById("qanswer"+n).checked;
	r = '';
	if ($('#qanswer1:checked').length) r=r+'1';
	if ($('#qanswer2:checked').length) r=r+'2';
	if ($('#qanswer3:checked').length) r=r+'3';
	if ($('#qanswer4:checked').length) r=r+'4';
	if ($('#qanswer5:checked').length) r=r+'5';
	if ($('#qanswer6:checked').length) r=r+'6';
	if ($('#qanswer7:checked').length) r=r+'7';
	if ($('#qanswer8:checked').length) r=r+'8';
	if ($('#qanswer9:checked').length) r=r+'9';
	if ($('#qanswer10:checked').length) r=r+'10';
	if ($('#qanswer11:checked').length) r=r+'11';
	if ($('#qanswer12:checked').length) r=r+'12';
	if ($('#qanswer13:checked').length) r=r+'13';
	if ($('#qanswer14:checked').length) r=r+'14';
	if ($('#qanswer15:checked').length) r=r+'15';
	document.getElementById("bvalue0").value = r;
}

</script>


<div id="kb" class="kb"></div><div style="display: none; position: absolute;" tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog" aria-labelledby="ui-id-1"><div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-1" class="ui-dialog-title">Инструкция</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div id="dialog" style="" class="ui-dialog-content ui-widget-content">
<div class="zad">
<center><img width="780px" src="1_2_files/demo_1.2.gif"></center>
</div>
</div><div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix"><div class="ui-dialog-buttonset"><button type="button" class="ui-button ui-corner-all ui-widget">Ok</button></div></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div></body></html>