<!DOCTYPE html>
<html lang="ru" translate="no" class="notranslate"><head>
<title>Компьютерное тестирование</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="10_3_files/main7.css" type="text/css" rel="stylesheet">
<link href="10_3_files/virt_kb.css" type="text/css" rel="stylesheet">
<link href="10_3_files/mpu.css" type="text/css" rel="stylesheet">


<link href="10_3_files/kim.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="js/jQuery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!-- JQuery -->
<script type="text/javascript" src="10_3_files/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="10_3_files/jquery-ui.min.js"></script>
<script type="text/javascript" src="10_3_files/jquery.ui.touch-punch.min.js"></script>
<link href="10_3_files/jquery-ui.css" type="text/css" rel="stylesheet">

<!-- Virtual keyboard plugin -->
<script type="text/javascript" src="10_3_files/virt_kb.js"></script>

</head>

<body>
<div style="clear:both"></div>
<div id="header">
	<div class="subheader2x">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td>
				<span id="ping" style="position: absolute; opacity: 0.2; display: none;">*</span>
				<p style="margin-left:15px;color:#000000;font-size:12pt;text-indent:0"> Задания: </p>
			</td><td><p id="topline"><font>Оставшееся время - 44:04</font></p>
		</td></tr></tbody></table>
<form method="post" action="" onsubmit="$(window).off('beforeunload');">
<button class="qnum" type="submit" name="n" value="">Описание</button>
<button class="qnum yellow" type="submit" name="n" value="1">1</button>
<button class="qnum" type="submit" name="n" value="2">2</button>
<button class="qnum" type="submit" name="n" value="3">3</button>
<button class="qnum" type="submit" name="n" value="4">4</button>
<button class="qnum" type="submit" name="n" value="5">5</button>
<button class="qnum" type="submit" name="n" value="6">6</button>
<button class="qnum" type="submit" name="n" value="7">7</button>
<button class="qnum" type="submit" name="n" value="8">8</button>
<button class="qnum" type="submit" name="n" value="9">9</button>
<button class="qnum" type="submit" name="n" value="10">10.1</button>
<button class="qnum" type="submit" name="n" value="11">10.2</button>
<button class="qnum qramka" type="submit" name="n" value="12">10.3</button>
<button class="qnum" type="submit" name="n" value="999">закончить</button>
</form>
	</div>
</div>

<div id="reserved"></div>



<script>MyLogin = 'test_28123';</script>

<div id="content">

<div id="QuestionTest">

 <!-- answer -->

<p class="MsoNormal" style="border:1px solid black; text-align:center; margin:0px; padding:0px 3px; line-height:1.5"><b><i>Прочитайте текст 2 и&nbsp;выполните задания 8–10.</i></b></p>
<p class="MsoNormal">&nbsp;</p>
<a target="_blank" href="http://demo.mcko.ru/test/questions/9196149/#" onclick="$('.layer').css('height','auto');return false;" style="float:right;margin:5px;font-size:12pt;border-bottom:1px dotted blue">развернуть</a>

<center>Текст 2</center>

<div class="layer" style="border: 2px solid rgb(153, 102, 51); background: rgb(255, 249, 237); padding: 10px; margin: 10px 0px; height: 461px;">
    

<p>(1)Для нас Василий Дмитриевич Поленов прежде всего автор «Московского
 дворика», «Бабушкиного сада», «У&nbsp;ворот усадьбы», где чувствуются 
мягкие элегические ноты() где есть ощущение уходящ..й в&nbsp;прошлое 
ст..рины. </p>
<p>(2)Именно «Московским двориком» В.&nbsp;Поленов дебютировал на выставке передвижников. </p>
<p>(3)Предполагают, что однажды, поселившись в&nbsp;Трубниковском 
переулке, Василий Дмитриевич из окна увидел свой «Московский дворик». 
(4)И&nbsp;глазам, сердцу, уму дворик явился миром, в&nbsp;котором очень 
хочется жить. (5)Казалось бы, что в&nbsp;нём особенного? (6)Куры 
копаются в&nbsp;земле. (7)Лошадь приуныла возле своей телеги. 
(8)Ребятишки играют на обычнейшей лужайке с&nbsp;обычнейшими ромашками. 
(9)Женщина несёт воду в&nbsp;ведре. (10)Полощется в&nbsp;воздухе мокрое 
бельё; деревья, змейка тропки, сараюшки… (11)Всё обыкновенно. (12)Но эту
 обычную картину увидели глаза художника, насмотревшиеся на кровь 
и&nbsp;ужасы войны, вдоволь налюбовавшиеся египетскими пирамидами 
и&nbsp;дворцами с&nbsp;гондолами в&nbsp;Венеции. (13)Сердце его увидело 
и&nbsp;дрогнуло. (14)И&nbsp;дворик озарился вдруг таким светом радости, 
таким чувством любви и&nbsp;блаженства, что маленький кусочек московской
 земли сделался бесконечной поэмой. (15)Смотришь, «выходишь», минуя 
раму, в&nbsp;дворик, шагаешь тропкой и&nbsp;понимаешь: вот она, жизнь… </p>
<p>(16)Всё в&nbsp;«Московском дворике» гармонично и&nbsp;мягко. 
(17)Ничто резким контрастом не разрушает цветового единства. 
(18)Органично соединяются жилище человека и&nbsp;природа. (19)Всё 
пронизано небесной голубизной и&nbsp;светом. (20)Дворик исполнен 
необыкновенной поэзии. (21)Сколько прелести в&nbsp;белой, выгоревшей на 
солнце детской головке! (22)И&nbsp;в&nbsp;задумчивой фигурке, бредущей 
к&nbsp;цветку… (23)Картина без недомолвок. (24)Всё рассказано. (25)Так 
почему же в&nbsp;ней находили неисчерпаемую тайну знакомых мест? 
(26)А&nbsp;всё на самом деле элементарно просто. (27)В&nbsp;обыкновенном
 узнано необыкновенное, в&nbsp;обычном&nbsp;– очарование родного края. 
(28)Дворик стал признанием в&nbsp;любви. (29)Любви к&nbsp;Родине. </p>
<p>(30)Сам В.Д.&nbsp;Поленов называл себя представителем 
пейзажно-бытового жанра. (31)Согласиться с&nbsp;этим трудно. (32)Он 
объясняется в&nbsp;любви своей земле, своему краю неспокойно, пылко, 
обжигающе. (33)Разве не романтична «Осень в&nbsp;Абрамцеве»&nbsp;– 
«Федюшкино воспоминание», картина-память о&nbsp;сыне? (34)Она вобрала 
в&nbsp;себя зовущую темень, яркую алость и&nbsp;успокаивающую желтизну. 
(35)Отсветы этой буйной палитры ткут в&nbsp;воде богатый ковёр… (36)Из 
царства человека В.&nbsp;Поленов уходит в&nbsp;мягкий() пр..красный, 
во..вышающий мир природы. (37)Рыжевато-дымчатые кустики в&nbsp;картине 
«Ранний снег» уселись на снегу, словно зайцы, полоса угасающего осеннего
 пламени отделяет белую пелену от реки.(38)А&nbsp;над всем этим&nbsp;– 
яркое небо() уже подёрнувшееся туманом,&nbsp;– нежная п..реходная п..ра.
 </p>
<p>(39)На тёмной глад.. «Заросшего пруда» буровато-красные 
и&nbsp;з..лёные листья кувшинок() пятнышки лилий. (40)Време..ый тупик() 
застой и&nbsp;ожидание близящ..йся грозы: что-то произойдёт, случится… 
(41)А&nbsp;когда обжигаешься червонным золотом и&nbsp;прорывающимся 
з..лёным буйством «Золотой осени», невольно думаешь: человеку, столь 
пронзительно ощущавшему природу, трудно было жить, не захлёбываясь той 
большой радостью, которую она ему дарила. </p>
<p>(42)Однажды, вернувшись в&nbsp;очередной раз из заграничной поездки, 
В.Д.&nbsp;Поленов поссорился с&nbsp;художественным критиком 
В.В.&nbsp;Стасовым: тому вдруг показалось, что живопись у&nbsp;Поленова 
какая-то нерусская. (43)И&nbsp;вообще, жить бы ему за границей. 
(44)А&nbsp;он всей душой тянулся к&nbsp;России: «…подло жить 
в&nbsp;Европе, когда в&nbsp;России надо работать… Чувствую себя… без 
почвы, без смысла…» 
</p>

<p class="MsoNormal" align="right" style="text-align:right; line-height:1.5"><i>(По В.&nbsp;Липатову)</i></p>
</div>
<script>
// После загрузки страницы установить высоту блока в 50% от полезной высоты экрана,
// чтобы отображение не зависело от размера расширения экрана (размера монитора)
$(document).ready(function(){
  $('.layer').height( 0.5 * $(window).height() );
});
</script><br><style>
	td.td_n { text-align:center; color:#888888;font-size:12pt; }
	td.td_descr { color:#440000 }
	td.td_radio { text-align:center; cursor:pointer; }
	font.font_a { font-size:10pt;color:#888888 }
	input[type=radio] { cursor:pointer; }
	table.tbl tr:hover td { background-color:#ffffaa; }
</style>
<p class="qq">Укажите, верно или неверно указано средство связи предложений в следующих утверждениях.</p>
<table class="tbl">
<tbody><tr>
<th rowspan="2">Утверждения</th>
<th colspan="2">Средства связи указаны</th>
</tr>
<tr>
<th width="15%">верно</th>
<th width="15%">неверно</th>
</tr>
<tr>
<td class="td_descr">Средством связи предложений 1–2 является <i>форма слова</i>.<br><br>
<p style="color:#000000;">(1)Для нас Василий Дмитриевич Поленов прежде 
всего автор «Московского дворика», «Бабушкиного сада», «У&nbsp;ворот 
усадьбы», где чувствуются мягкие элегические ноты() где есть ощущение 
уходящ..й в&nbsp;прошлое ст..рины. </p>
<p style="color:#000000;">(2)Именно «Московским двориком» В.&nbsp;Поленов дебютировал на выставке передвижников. </p>  
  
  
  
  </td>
<td class="td_radio" onclick="SetChecked('a0',1)"><input type="radio" id="a0" name="a0" value="1"></td>
<td class="td_radio" onclick="SetChecked('a0',2)"><input type="radio" id="a0" name="a0" value="2"></td>
</tr>

<tr>
<td class="td_descr">Средством связи предложений 33–34 является <i>личное местоимение</i>.<br><br>
<p style="color:#000000;">(33)Разве не романтична «Осень 
в&nbsp;Абрамцеве»&nbsp;– «Федюшкино воспоминание», картина-память 
о&nbsp;сыне? (34)Она вобрала в&nbsp;себя зовущую темень, яркую алость 
и&nbsp;успокаивающую желтизну. </p>
  
  </td>
<td class="td_radio" onclick="SetChecked('a1',1)"><input type="radio" id="a1" name="a1" value="1"></td>
<td class="td_radio" onclick="SetChecked('a1',2)"><input type="radio" id="a1" name="a1" value="2"></td>
</tr>



</tbody></table>
<br>
<button onclick="Store()">Сохранить ответ</button>

<script>
function Store() {

$('#bvalue0').val( $('input[name=a0]:checked').val() );
$('#bvalue1').val( $('input[name=a1]:checked').val() );

SetAnswerB();
return;
}

function SetChecked(Xname, Xvalue) { $("input[name="+Xname+"][value="+Xvalue+"]").attr("checked", true); }

$('input[name=a0][value="'+$('#bvalue0').val()+'"]').attr('checked', true);
$('input[name=a1][value="'+$('#bvalue1').val()+'"]').attr('checked', true);

</script><br>

</div> <!-- QuestionTest -->

<div class="answer" id="b" style="display:none;width:990px;">
<form method="post" name="AnswerForm" id="AnswerForm" action="">
<input type="hidden" name="n" value="12">
<input type="hidden" name="Save" value="1">
<br>Ответ-0:<br><textarea name="bvalue0" id="bvalue0" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br>Ответ-1:<br><textarea name="bvalue1" id="bvalue1" rows="10" cols="120" style="font-size:12pt;padding:2px"></textarea>
<br><button type="submit" style="padding:5px;width:300px;margin-top:20px" onclick="$(window).off('beforeunload');">Сохранить ответ на задание</button>
</form>
</div><div id="AnswerHere"></div>

</div> <!-- content -->

<div id="PauseDialog" title="Перерыв" style="display:none">
<center>
Перерыв для выполнения упражнений для глаз.
<br>Таймер остановлен на время перерыва.
<br>Оставшееся время отдыха:
<br>
<br>
<b id="RelaxTimer">-</b>
</center>
</div>


<script>
var TIME_LEFT2, mm, ss, TimeFont, UpTimer, active, RelaxTimer, StartRelax, UpInProgress;

active = 0;
CurrentUpInterval = 10000;
UpInProgress = 0;

window.onload = function(){
    var b1 = document.getElementById("AnswerHere");//блок перед которым ставим
    var b2 = document.getElementById("b");//блок который передвигаем
    b1.parentNode.insertBefore(b2, b1);
	b2.style.display = 'none';
}

function div(val, by){ return (val - val % by) / by; }

// Начать перерыв для глаз
// !!!Внимание хакерам!!! Время на сервере считается параллельно
function pauseTest() {
	$.ajax({
		type: "POST",
		url: "up.php?PauseRequest=1",
		dataType: "json",
		data: "PauseRequest=1",
		timeout: 1000,
		error: function(){
			console.log('error :)');
		},
		success: function(msg){
			if (msg.pause=='1') {
				active = 0; // останавливаем обновление таймера НА КЛИЕНТЕ

				StartRelax = Math.floor(new Date().getTime() / 1000);
				window.clearInterval(RelaxTimer);
				RelaxTimer = window.setInterval( UpdateRelaxTimer, 1000);
				UpdateRelaxTimer();

				// Modal dialog:
				$( "#PauseDialog" ).dialog(
				{
					width: 600,
					modal: true,
					resizable: false,
					draggable: false,
					buttons:	{ 	"Продолжить": function() { $( this ).dialog( "close" ); }			},
					close: function(event, ui) { $( this ).dialog( "close" ); up(1); }
				}
				);

				console.log('onPAUSE !');
			} else console.log('no access to pause now');
		}
	});
}

// Динамически обновляем данные о времени с сервера
function up(ContinueTest=0) {
	if (UpInProgress) return;
	UpInProgress = 1;
	RealPing = new Date().getTime();
	$("#ping").show();
	$.ajax({
		type: "POST",
		url: "up.php",
		dataType: "json",
		data: "ContinueTest="+ContinueTest,
		timeout: 1000,
		error: function(){
			//console.log('up_error');
		},
		success: function(msg){
			RealPing = (new Date().getTime() - RealPing) / 1000;
			//console.log('ping = '+RealPing);
			//$("#resp").html( msg.text );
			TimeFix2 =  msg.now - Math.floor(new Date().getTime() / 1000); // Поправка на локальный таймер, который может отличаться от точного времени
			FINISH = msg.FINISH;
			if (msg.pause==0) active = 1;
			//console.log(msg);
			$("#ping").hide();
			UpdateTimer2();
			if (CurrentUpInterval!=msg.UpInterval && msg.UpInterval>0) {
				console.log('Change up interval to ' + msg.UpInterval);
				window.clearInterval(UpTimer);
				CurrentUpInterval = msg.UpInterval;
				UpTimer = window.setInterval( up, CurrentUpInterval);
			}
			if (msg.PauseNeeded==1 && msg.pause==0) pauseTest();
		}
	});
	UpInProgress = 0;
	//console.log('ok');
}

function UpdateTimer2() {
	if (!active) return;
	//console.log('.');
	TIME_LEFT2_REAL = FINISH - Math.floor(new Date().getTime() / 1000) - TimeFix2;
	TIME_LEFT2 = Math.abs(TIME_LEFT2_REAL);
	mm = div(TIME_LEFT2, 60);
	ss = TIME_LEFT2 % 60;
	if (ss<10) ss = '0'+ss;
	if (mm<5) TimeFont = '<font color="#aa0000">'; else TimeFont = '<font>';
	if (TIME_LEFT2_REAL>0) $("#topline").html( TimeFont + 'Оставшееся время - ' + mm + ':' + ss + '</font>' );
	else $("#topline").html( TimeFont + '‼️ <b style="color:red">Время закончилось</b> - ' + mm + ':' + ss + '</font>' );
	if (TIME_LEFT2_REAL<-0) { $(window).off('beforeunload'); document.location="?n=998"; }
}

function UpdateRelaxTimer() {
	RelaxyLeftTime = 300 - (Math.floor(new Date().getTime() / 1000) - StartRelax);
	if (RelaxyLeftTime<0) { window.clearInterval(RelaxTimer); $( "#PauseDialog" ).dialog( "close" ); }
	mm = div(RelaxyLeftTime, 60);
	ss = RelaxyLeftTime % 60;
	if (ss<10) ss = '0'+ss;
	$("#RelaxTimer").html( mm+':'+ss );
}

</script><script>
var timer2 = window.setInterval( UpdateTimer2, 500);
var UpTimer = window.setInterval( up, CurrentUpInterval);
up();
</script>

<br><center><font style="color:#cccccc;font-size:8pt">Page generated in 0.006, memory usage: 501 kb</font></center>
<script>
function SetAnswerB() { window.onbeforeunload = null; document.forms["AnswerForm"].submit(); }

function FormAnswer(n) {
//	document.getElementById("qanswer"+n).checked = ! document.getElementById("qanswer"+n).checked;
	r = '';
	if ($('#qanswer1:checked').length) r=r+'1';
	if ($('#qanswer2:checked').length) r=r+'2';
	if ($('#qanswer3:checked').length) r=r+'3';
	if ($('#qanswer4:checked').length) r=r+'4';
	if ($('#qanswer5:checked').length) r=r+'5';
	if ($('#qanswer6:checked').length) r=r+'6';
	if ($('#qanswer7:checked').length) r=r+'7';
	if ($('#qanswer8:checked').length) r=r+'8';
	if ($('#qanswer9:checked').length) r=r+'9';
	if ($('#qanswer10:checked').length) r=r+'10';
	if ($('#qanswer11:checked').length) r=r+'11';
	if ($('#qanswer12:checked').length) r=r+'12';
	if ($('#qanswer13:checked').length) r=r+'13';
	if ($('#qanswer14:checked').length) r=r+'14';
	if ($('#qanswer15:checked').length) r=r+'15';
	document.getElementById("bvalue0").value = r;
}

</script>


<div id="kb" class="kb"></div></body></html>