<!DOCTYPE html>
<html lang="ru" translate="no" class="notranslate"><head>
<title>Компьютерное тестирование</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="6_files/main7.css" type="text/css" rel="stylesheet">
<link href="6_files/virt_kb.css" type="text/css" rel="stylesheet">
<link href="6_files/mpu.css" type="text/css" rel="stylesheet">


<link href="6_files/kim.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="js/jQuery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

<!-- JQuery -->
<script type="text/javascript" src="6_files/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="6_files/jquery-ui.min.js"></script>
<script type="text/javascript" src="6_files/jquery.ui.touch-punch.min.js"></script>
<link href="6_files/jquery-ui.css" type="text/css" rel="stylesheet">

<!-- Virtual keyboard plugin -->
<script type="text/javascript" src="6_files/virt_kb.js"></script>

</head>

<body>
<div style="clear:both"></div>
<div id="header">
	<div class="subheader2x">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody><tr>
			<td>
				<span id="ping" style="position: absolute; opacity: 0.2; display: none;">*</span>
				<p style="margin-left:15px;color:#000000;font-size:12pt;text-indent:0"> Задания: </p>
			</td><td><p id="topline"><font>Оставшееся время - 44:35</font></p>
		</td></tr></tbody></table>
<form method="post" action="" onsubmit="$(window).off('beforeunload');">
<button class="qnum" type="submit" name="n" value="">Описание</button>
<button class="qnum yellow" type="submit" name="n" value="1">1</button>
<button class="qnum" type="submit" name="n" value="2">2</button>
<button class="qnum" type="submit" name="n" value="3">3</button>
<button class="qnum" type="submit" name="n" value="4">4</button>
<button class="qnum" type="submit" name="n" value="5">5</button>
<button class="qnum qramka" type="submit" name="n" value="6">6</button>
<button class="qnum" type="submit" name="n" value="7">7</button>
<button class="qnum" type="submit" name="n" value="8">8</button>
<button class="qnum" type="submit" name="n" value="9">9</button>
<button class="qnum" type="submit" name="n" value="10">10.1</button>
<button class="qnum" type="submit" name="n" value="11">10.2</button>
<button class="qnum" type="submit" name="n" value="12">10.3</button>
<button class="qnum" type="submit" name="n" value="999">закончить</button>
</form>
	</div>
</div>

<div id="reserved"></div>



<script>MyLogin = 'test_28123';</script>

<div id="content">

<div id="QuestionTest">

 <!-- answer -->

<style>
	span.ans {  border-bottom:1px dotted #000088; cursor:pointer; }
	span.ans.marked { border-bottom:1px solid #880000; color:#880000; font-weight:bold; background-color:#ffff88; }
</style>
<p class="qq"><b>А.</b> Укажите слова, в которых пропущена <b>безударная чередующаяся гласная</b> в корне слова. </p> 
<p align="justify" style="font-size:14pt;text-indent:0px;margin:0px;padding:0px;color:#886600"><i>Чтобы
 отметить слово, щёлкните по нему левой кнопкой мыши, после чего слово 
выделится фоном. Чтобы отменить выбор, щёлкните повторно левой кнопкой 
мыши по этому слову.</i></p><br>
 

<p>Спелая <span class="ans" name="m0" value="1" onclick="fp(1)">виш..нка</span>, 
  <span class="ans" name="m0" value="2" onclick="fp(2)">г..рный</span> воздух, 
  <span class="ans" name="m0" value="3" onclick="fp(3)">пр..соед..ниться</span> к обсуждению, 
  <span class="ans" name="m0" value="4" onclick="fp(4)">м..ровой</span> судья, 
  <span class="ans" name="m0" value="5" onclick="fp(5)">соб..рательный</span> образ, 
  <span class="ans" name="m0" value="6" onclick="fp(6)">соч..тание</span> цветов, 
  <span class="ans" name="m0" value="7" onclick="fp(7)">накл..ниться</span> вбок, 
  ярко <span class="ans" name="m0" value="8" onclick="fp(8)">г..рели</span>, 
  <span class="ans" name="m0" value="9" onclick="fp(9)">радос..ное</span> настроение, 
  болезненный <span class="ans" name="m0" value="a" onclick="fp('a')">ож..г</span>, 
  бурная <span class="ans" name="m0" value="b" onclick="fp('b')">реч..нка</span>, 
  надеть <span class="ans" name="m0" value="c" onclick="fp('c')">пальт..цо</span>, 
  <span class="ans" name="m0" value="d" onclick="fp('d')">расст..лается</span> ковром, 
  <span class="ans" name="m0" value="e" onclick="fp('e')">пр..митивный</span> ответ, 
  вкусный <span class="ans" name="m0" value="f" onclick="fp('f')">в..негрет</span>.</p><br>

 

<p class="qq"><b>Б.</b> Вставьте в выделенные слова недостающие буквы.</p>
<p><span id="d1" hidden=""><nobr>виш<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a1" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>нка</nobr></span>
  <span id="d2" hidden=""><nobr>г<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a2" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>рный</nobr></span>
  <span id="d3" hidden=""><nobr>пр<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a3" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>соед<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a4" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>ниться</nobr></span>
  <span id="d4" hidden=""><nobr>м<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a5" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>ровой</nobr></span>
  <span id="d5" hidden=""><nobr>соб<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a6" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>рательный</nobr></span>
  <span id="d6" hidden=""><nobr>соч<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a7" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>тание</nobr></span>
  <span id="d7" hidden=""><nobr>накл<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a8" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>ниться</nobr></span>
  <span id="d8" hidden=""><nobr>г<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a9" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>рели</nobr></span>
  <span id="d9" hidden=""><nobr>радос<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a10" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>ное</nobr></span>
  <span id="d10" hidden=""><nobr>ож<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a11" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>г</nobr></span>
  <span id="d11" hidden=""><nobr>реч<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a12" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>нка</nobr></span>
  <span id="d12" hidden=""><nobr>пальт<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a13" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>цо</nobr></span>
  <span id="d13" hidden=""><nobr>расст<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a14" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>лается</nobr></span>
  <span id="d14" hidden=""><nobr>пр<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a15" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>митивный</nobr></span>
  <span id="d15" hidden=""><nobr>в<span style="background:#e0f0f0; padding:10px 0px 10px 0px"><input type="text" id="a16" style="width:15px; text-align:center;" autocomplete="off" spellcheck="false" value="0"></span>негрет</nobr></span></p><br>
<script>
var p1 = 0;
var p2 = 0;
var p3 = 0;
var p4 = 0;
var p5 = 0;
var p6 = 0;
var p7 = 0;
var p8 = 0;
var p9 = 0;
var p10 = 0;
var p11 = 0;
var p12 = 0;
var p13 = 0;
var p14 = 0;
var p15 = 0;  

var s1;
var s2;
var s3;
var s4;
var s5;
var s6;
var s7;
var s8;
var s9;
var s10;
var s11;
var s12;
var s13;
var s14;
var s15;
var s16;
if ($('#bvalue0').val()!=''){
for (let i=0; i<$('#bvalue0').val().length; i++){
	if ($('#bvalue0').val()[i]=='1'){document.getElementById('d1').hidden=false;p1 = 1;}
	if ($('#bvalue0').val()[i]=='2'){document.getElementById('d2').hidden=false;p2 = 1;}
	if ($('#bvalue0').val()[i]=='3'){document.getElementById('d3').hidden=false;p3 = 1;}
	if ($('#bvalue0').val()[i]=='4'){document.getElementById('d4').hidden=false;p4 = 1;}
  if ($('#bvalue0').val()[i]=='5'){document.getElementById('d5').hidden=false;p5 = 1;}
	if ($('#bvalue0').val()[i]=='6'){document.getElementById('d6').hidden=false;p6 = 1;}
	if ($('#bvalue0').val()[i]=='7'){document.getElementById('d7').hidden=false;p7 = 1;}
	if ($('#bvalue0').val()[i]=='8'){document.getElementById('d8').hidden=false;p8 = 1;}
  if ($('#bvalue0').val()[i]=='9'){document.getElementById('d9').hidden=false;p9 = 1;}
	if ($('#bvalue0').val()[i]=='a'){document.getElementById('d10').hidden=false;p10 = 1;}
  if ($('#bvalue0').val()[i]=='b'){document.getElementById('d11').hidden=false;p11 = 1;}
	if ($('#bvalue0').val()[i]=='c'){document.getElementById('d12').hidden=false;p12 = 1;}
	if ($('#bvalue0').val()[i]=='d'){document.getElementById('d13').hidden=false;p13 = 1;}
	if ($('#bvalue0').val()[i]=='e'){document.getElementById('d14').hidden=false;p14 = 1;}
  if ($('#bvalue0').val()[i]=='f'){document.getElementById('d15').hidden=false;p15 = 1;}
}} else {
	$('#bvalue1').val('0');
	$('#bvalue2').val('0');
	$('#bvalue3').val('0');
	$('#bvalue4').val('0');
	$('#bvalue5').val('0');
	$('#bvalue6').val('0');
	$('#bvalue7').val('0');
	$('#bvalue8').val('0');
	$('#bvalue9').val('0');
	$('#bvalue10').val('0');
	$('#bvalue11').val('0');
	$('#bvalue12').val('0');
	$('#bvalue13').val('0');
	$('#bvalue14').val('0');
	$('#bvalue15').val('0');
	$('#bvalue16').val('0');
}
function fp(num) {
if (num == 1){if (p1 == 0){document.getElementById('d1').hidden=false;p1 = 1;$('#bvalue1').val(s1);if ($('#a1').val()=="0"){$('#a1').val("");}}else{document.getElementById('d1').hidden=true;p1 = 0;s1 = $('#bvalue1').val();$('#bvalue1').val('0');}}
if (num == 2){if (p2 == 0){document.getElementById('d2').hidden=false;p2 = 1;$('#bvalue2').val(s2);if ($('#a2').val()=="0"){$('#a2').val("");}}else{document.getElementById('d2').hidden=true;p2 = 0;s2 = $('#bvalue2').val();$('#bvalue2').val('0');}}
if (num == 3){if (p3 == 0){document.getElementById('d3').hidden=false;p3 = 1;$('#bvalue3').val(s3);if ($('#a3').val()=="0"){$('#a3').val("");}$('#bvalue4').val(s4);if ($('#a4').val()=="0"){$('#a4').val("");}} else{document.getElementById('d3').hidden=true;p3 = 0;s3 = $('#bvalue3').val();$('#bvalue3').val('0');s4 = $('#bvalue4').val();$('#bvalue4').val('0');}}
if (num == 4){if (p4 == 0){document.getElementById('d4').hidden=false;p4 = 1;$('#bvalue5').val(s5);if ($('#a5').val()=="0"){$('#a5').val("");}}else{document.getElementById('d4').hidden=true;p4 = 0;s5 = $('#bvalue5').val();$('#bvalue5').val('0');}}
if (num == 5){if (p5 == 0){document.getElementById('d5').hidden=false;p5 = 1;$('#bvalue6').val(s6);if ($('#a6').val()=="0"){$('#a6').val("");}}else{document.getElementById('d5').hidden=true;p5 = 0;s6 = $('#bvalue6').val();$('#bvalue6').val('0');}}
if (num == 6){if (p6 == 0){document.getElementById('d6').hidden=false;p6 = 1;$('#bvalue7').val(s7);if ($('#a7').val()=="0"){$('#a7').val("");}}else{document.getElementById('d6').hidden=true;p6 = 0;s7 = $('#bvalue7').val();$('#bvalue7').val('0');}}
if (num == 7){if (p7 == 0){document.getElementById('d7').hidden=false;p7 = 1;$('#bvalue8').val(s8);if ($('#a8').val()=="0"){$('#a8').val("");}}else{document.getElementById('d7').hidden=true;p7 = 0;s8 = $('#bvalue8').val();$('#bvalue8').val('0');}}
if (num == 8){if (p8 == 0){document.getElementById('d8').hidden=false;p8 = 1;$('#bvalue9').val(s9);if ($('#a9').val()=="0"){$('#a9').val("");}}else{document.getElementById('d8').hidden=true;p8 = 0;s9 = $('#bvalue9').val();$('#bvalue9').val('0');}}
if (num == 9){if (p9 == 0){document.getElementById('d9').hidden=false;p9 = 1;$('#bvalue10').val(s10);if ($('#a10').val()=="0"){$('#a10').val("");}}else{document.getElementById('d9').hidden=true;p9 = 0;s10 = $('#bvalue10').val();$('#bvalue10').val('0');}}  
if (num == "a"){if (p10 == 0){document.getElementById('d10').hidden=false;p10 = 1;$('#bvalue11').val(s11);if ($('#a11').val()=="0"){$('#a11').val("");}}else{document.getElementById('d10').hidden=true;p10 = 0;s11 = $('#bvalue11').val();$('#bvalue11').val('0');}}  
if (num == "b"){if (p11 == 0){document.getElementById('d11').hidden=false;p11 = 1;$('#bvalue12').val(s12);if ($('#a12').val()=="0"){$('#a12').val("");}}else{document.getElementById('d11').hidden=true;p11 = 0;s12 = $('#bvalue12').val();$('#bvalue12').val('0');}}  
if (num == "c"){if (p12 == 0){document.getElementById('d12').hidden=false;p12 = 1;$('#bvalue13').val(s13);if ($('#a13').val()=="0"){$('#a13').val("");}}else{document.getElementById('d12').hidden=true;p12 = 0;s13 = $('#bvalue13').val();$('#bvalue13').val('0');}}  
if (num == "d"){if (p13 == 0){document.getElementById('d13').hidden=false;p13 = 1;$('#bvalue14').val(s14);if ($('#a14').val()=="0"){$('#a14').val("");}}else{document.getElementById('d13').hidden=true;p13 = 0;s14 = $('#bvalue14').val();$('#bvalue14').val('0');}}  
if (num == "e"){if (p14 == 0){document.getElementById('d14').hidden=false;p14 = 1;$('#bvalue15').val(s15);if ($('#a15').val()=="0"){$('#a15').val("");}}else{document.getElementById('d14').hidden=true;p14 = 0;s15 = $('#bvalue15').val();$('#bvalue15').val('0');}}
if (num == "f"){if (p15 == 0){document.getElementById('d15').hidden=false;p15 = 1;$('#bvalue16').val(s16);if ($('#a16').val()=="0"){$('#a16').val("");}}else{document.getElementById('d15').hidden=true;p15 = 0;s16 = $('#bvalue16').val();$('#bvalue16').val('0');}}  
}

$(function(){
  
  $('#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16').change(function(){
    $('#bvalue17').val( $('#bvalue1').val() +  $('#a2').val() + $('#a3').val() + $('#a4').val() + $('#a5').val() +  $('#a6').val() + $('#a7').val() + $('#a8').val() + $('#a9').val() +  $('#a10').val() + $('#a11').val() + $('#a12').val() + $('#a13').val() +  $('#a14').val() + $('#a15').val() + $('#a16').val());
  });
  });



</script>

</div> <!-- QuestionTest -->

<div class="answer" id="b" style="display:none;width:990px;">
<form method="post" name="AnswerForm" id="AnswerForm" action="">
<input type="hidden" name="n" value="6" autocomplete="off" spellcheck="false">
<input type="hidden" name="Save" value="1" autocomplete="off" spellcheck="false">
<br>Ответ-0:<br><textarea name="bvalue0" id="bvalue0" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">-</textarea>
<br>Ответ-1:<br><textarea name="bvalue1" id="bvalue1" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-2:<br><textarea name="bvalue2" id="bvalue2" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-3:<br><textarea name="bvalue3" id="bvalue3" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-4:<br><textarea name="bvalue4" id="bvalue4" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-5:<br><textarea name="bvalue5" id="bvalue5" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-6:<br><textarea name="bvalue6" id="bvalue6" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-7:<br><textarea name="bvalue7" id="bvalue7" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-8:<br><textarea name="bvalue8" id="bvalue8" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-9:<br><textarea name="bvalue9" id="bvalue9" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-10:<br><textarea name="bvalue10" id="bvalue10" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-11:<br><textarea name="bvalue11" id="bvalue11" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-12:<br><textarea name="bvalue12" id="bvalue12" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-13:<br><textarea name="bvalue13" id="bvalue13" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-14:<br><textarea name="bvalue14" id="bvalue14" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-15:<br><textarea name="bvalue15" id="bvalue15" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-16:<br><textarea name="bvalue16" id="bvalue16" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false">0</textarea>
<br>Ответ-17:<br><textarea name="bvalue17" id="bvalue17" rows="10" cols="120" style="font-size:12pt;padding:2px" spellcheck="false"></textarea>
<br><button type="submit" style="padding:5px;width:300px;margin-top:20px" onclick="$(window).off('beforeunload');">Сохранить ответ на задание</button>
</form>
</div><div id="AnswerHere"><button onclick="SetAnswerB()" style="margin-top:15px">Сохранить ответ</button></div>

</div> <!-- content -->

<div id="PauseDialog" title="Перерыв" style="display:none">
<center>
Перерыв для выполнения упражнений для глаз.
<br>Таймер остановлен на время перерыва.
<br>Оставшееся время отдыха:
<br>
<br>
<b id="RelaxTimer">-</b>
</center>
</div>


<script>
var TIME_LEFT2, mm, ss, TimeFont, UpTimer, active, RelaxTimer, StartRelax, UpInProgress;

active = 0;
CurrentUpInterval = 10000;
UpInProgress = 0;

window.onload = function(){
    var b1 = document.getElementById("AnswerHere");//блок перед которым ставим
    var b2 = document.getElementById("b");//блок который передвигаем
    b1.parentNode.insertBefore(b2, b1);
	b2.style.display = 'none';
}

function div(val, by){ return (val - val % by) / by; }

// Начать перерыв для глаз
// !!!Внимание хакерам!!! Время на сервере считается параллельно
function pauseTest() {
	$.ajax({
		type: "POST",
		url: "up.php?PauseRequest=1",
		dataType: "json",
		data: "PauseRequest=1",
		timeout: 1000,
		error: function(){
			console.log('error :)');
		},
		success: function(msg){
			if (msg.pause=='1') {
				active = 0; // останавливаем обновление таймера НА КЛИЕНТЕ

				StartRelax = Math.floor(new Date().getTime() / 1000);
				window.clearInterval(RelaxTimer);
				RelaxTimer = window.setInterval( UpdateRelaxTimer, 1000);
				UpdateRelaxTimer();

				// Modal dialog:
				$( "#PauseDialog" ).dialog(
				{
					width: 600,
					modal: true,
					resizable: false,
					draggable: false,
					buttons:	{ 	"Продолжить": function() { $( this ).dialog( "close" ); }			},
					close: function(event, ui) { $( this ).dialog( "close" ); up(1); }
				}
				);

				console.log('onPAUSE !');
			} else console.log('no access to pause now');
		}
	});
}

// Динамически обновляем данные о времени с сервера
function up(ContinueTest=0) {
	if (UpInProgress) return;
	UpInProgress = 1;
	RealPing = new Date().getTime();
	$("#ping").show();
	$.ajax({
		type: "POST",
		url: "up.php",
		dataType: "json",
		data: "ContinueTest="+ContinueTest,
		timeout: 1000,
		error: function(){
			//console.log('up_error');
		},
		success: function(msg){
			RealPing = (new Date().getTime() - RealPing) / 1000;
			//console.log('ping = '+RealPing);
			//$("#resp").html( msg.text );
			TimeFix2 =  msg.now - Math.floor(new Date().getTime() / 1000); // Поправка на локальный таймер, который может отличаться от точного времени
			FINISH = msg.FINISH;
			if (msg.pause==0) active = 1;
			//console.log(msg);
			$("#ping").hide();
			UpdateTimer2();
			if (CurrentUpInterval!=msg.UpInterval && msg.UpInterval>0) {
				console.log('Change up interval to ' + msg.UpInterval);
				window.clearInterval(UpTimer);
				CurrentUpInterval = msg.UpInterval;
				UpTimer = window.setInterval( up, CurrentUpInterval);
			}
			if (msg.PauseNeeded==1 && msg.pause==0) pauseTest();
		}
	});
	UpInProgress = 0;
	//console.log('ok');
}

function UpdateTimer2() {
	if (!active) return;
	//console.log('.');
	TIME_LEFT2_REAL = FINISH - Math.floor(new Date().getTime() / 1000) - TimeFix2;
	TIME_LEFT2 = Math.abs(TIME_LEFT2_REAL);
	mm = div(TIME_LEFT2, 60);
	ss = TIME_LEFT2 % 60;
	if (ss<10) ss = '0'+ss;
	if (mm<5) TimeFont = '<font color="#aa0000">'; else TimeFont = '<font>';
	if (TIME_LEFT2_REAL>0) $("#topline").html( TimeFont + 'Оставшееся время - ' + mm + ':' + ss + '</font>' );
	else $("#topline").html( TimeFont + '‼️ <b style="color:red">Время закончилось</b> - ' + mm + ':' + ss + '</font>' );
	if (TIME_LEFT2_REAL<-0) { $(window).off('beforeunload'); document.location="?n=998"; }
}

function UpdateRelaxTimer() {
	RelaxyLeftTime = 300 - (Math.floor(new Date().getTime() / 1000) - StartRelax);
	if (RelaxyLeftTime<0) { window.clearInterval(RelaxTimer); $( "#PauseDialog" ).dialog( "close" ); }
	mm = div(RelaxyLeftTime, 60);
	ss = RelaxyLeftTime % 60;
	if (ss<10) ss = '0'+ss;
	$("#RelaxTimer").html( mm+':'+ss );
}

</script><script>
var timer2 = window.setInterval( UpdateTimer2, 500);
var UpTimer = window.setInterval( up, CurrentUpInterval);
up();
</script><script type="text/javascript" src="6_files/basic_am7.js"></script>

<br><center><font style="color:#cccccc;font-size:8pt">Page generated in 0.006, memory usage: 517 kb</font></center>
<script>
function SetAnswerB() { window.onbeforeunload = null; document.forms["AnswerForm"].submit(); }

function FormAnswer(n) {
//	document.getElementById("qanswer"+n).checked = ! document.getElementById("qanswer"+n).checked;
	r = '';
	if ($('#qanswer1:checked').length) r=r+'1';
	if ($('#qanswer2:checked').length) r=r+'2';
	if ($('#qanswer3:checked').length) r=r+'3';
	if ($('#qanswer4:checked').length) r=r+'4';
	if ($('#qanswer5:checked').length) r=r+'5';
	if ($('#qanswer6:checked').length) r=r+'6';
	if ($('#qanswer7:checked').length) r=r+'7';
	if ($('#qanswer8:checked').length) r=r+'8';
	if ($('#qanswer9:checked').length) r=r+'9';
	if ($('#qanswer10:checked').length) r=r+'10';
	if ($('#qanswer11:checked').length) r=r+'11';
	if ($('#qanswer12:checked').length) r=r+'12';
	if ($('#qanswer13:checked').length) r=r+'13';
	if ($('#qanswer14:checked').length) r=r+'14';
	if ($('#qanswer15:checked').length) r=r+'15';
	document.getElementById("bvalue0").value = r;
}

</script>


<div id="kb" class="kb"></div></body></html>